@use "../vars";

.industries {

  &__list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__item {
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;

    border-radius: 24px;
    border: 2px solid #e5e6e6;
    background: #fdfdfd;
  }
}

.card {
  &__icon-wrapper {
    padding: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    background: rgba(0, 102, 255, 0.15);
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .industries {
    &__title {
      text-align: center;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .industries {
    &__item {
      flex-basis: calc((100% - (24px * 2)) / 3);
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .industries {
    &__list {
      margin-top: 56px;
    }
    &__item {
      padding: 30px;
    }
  }
}
