@use "../vars";

.steps {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1097px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;

    border-radius: 14px;
    border: 2px solid #e5e6e6;
    background: #fdfdfd;
  }
}

.card {
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  &__number {
    align-self: start;
    padding: 4px 8px;

    color: vars.$cta-color;
    font-family: "Anek Bangla";
    font-size: 16px;
    font-weight: 600;

    border-radius: 8px;
    border: 1px solid #06f;
    background: #f5f7ff;
  }

  &__img {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 300px;

    border-radius: 16px;
    outline: 1px solid #000;
    object-fit: cover;
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .steps {
    &__description {
      text-align: center;
    }
    &__item {
      flex-direction: row;
      align-items: center;
    }
  }
  .card {
    &__img {
      max-width: 300px;
      max-height: 200px;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .steps {
    &__description {
      gap: 32px;
    }

    &__item {
      padding: 32px 48px;
      border-radius: 32px;
    }
  }
}
