<section class="hero">
  <div class="hero__container container">
    <div class="hero__description">
      <h1 class="hero__title title__h1--m">
        Automated <br class="hero__break"/>
        <span class="hero__title-accent title-accent">KYB Verification</span>
        Solutions
      </h1>
      <p class="hero__text">
        Explore KYCAID's innovative KYB verification solutions. Elevate your
        business security with cutting-edge technology, ensuring reliable and
        efficient identity verification for seamless operations and compliance
      </p>
      <a class="hero__link link-btn-primary" href="#">
        <span class="link-title"> Book a demo </span>
        <svg class="link-icon icon-arrow-east" width="18" height="18">
          <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
