<section class="kyb section">
  <div class="kyb__container container">
    <div class="api" data-section="section">
      <div class="api__header">
        <h2 class="api__title title__h3--m">
          KYCAID's KYB API Integration<br class="api__break"> for Streamlined Identity Solutions
        </h2>
        <p class="api__text">
          Streamline your processes, enhance compliance, and access cutting-edge
          identity verification solutions tailored to your business needs. Apply
          now for transformative KYB solutions through API integration.
        </p>
        <button class="api__btn link-btn-primary">
          Try our solutions
          <svg class="link-icon icon-arrow-east" width="18" height="18">
            <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
          </svg>
        </button>
      </div>
      <div class="api__editor">
        <picture>
          <source
            media="(min-width: 431px)"
            srcset="
              /assets/pages/kyb/kyb/editor-des@1x.png 1x,
              /assets/pages/kyb/kyb/editor-des@2x.png 2x
            "
          />
          <img
            class="api__img"
            src="/assets/pages/kyb/kyb/editor-mob@1x.png"
            alt="editor code"
            srcset="/assets/pages/kyb/kyb/editor-mob@2x.png 2x"
            width="295"
            height="336"
          />
        </picture>
        <!-- <ul class="api__list">
          <li class="item"></li>
          <li class="item"></li>
          <li class="item"></li>
        </ul>
        <div class="api__table">
          <table>
            <tr>
              <td class="color--gray-2">1</td>
              <td class="api__color-white">{</td>
            </tr>
            <tr>
              <td class="color--gray-2">2</td>
              <td class="api__color-white">
                <span class="color--accent">"applicant_id"</span>:
                "{applicant_id}",
              </td>
            </tr>
            <tr>
              <td class="color--gray-2">3</td>
              <td class="api__color-white">"type": "PERSON",</td>
            </tr>
            <tr>
              <td class="color--gray-2">4</td>
              <td class="api__color-white"><span class="color--accent">"first_name"</span>: "John",</td>
            </tr>
            <tr>
              <td class="color--gray-2">5</td>
              <td class="api__color-white"><span class="color--accent"> "middle_name"</span>: null,</td>
            </tr>
            <tr>
              <td class="color--gray-2">6</td>
              <td class="api__color-white"><span class="color--accent"> "last_name"</span>: "Doe",</td>
            </tr>
            <tr>
              <td class="color--gray-2">7</td>
              <td class="api__color-white"><span class="color--accent"> "dob"</span>: "1970-10-25",</td>
            </tr>
            <tr>
              <td class="color--gray-2">8</td>
              <td class="api__color-white">
                <span class="color--accent"> "residence_country"</span>: "GB",
              </td>
            </tr>
            <tr>
              <td class="color--gray-2">9</td>
              <td class="api__color-white"><span class="color--accent"> "gender"</span>: null,</td>
            </tr>
            <tr>
              <td class="color--gray-2">10</td>
              <td class="api__color-white">
                <span class="color--accent"> "email"</span>:
                "john.doe@mail.com",
              </td>
            </tr>
            <tr>
              <td class="color--gray-2">11</td>
              <td class="api__color-white"><span class="color--accent"> "phone"</span>: null,</td>
            </tr>
            <tr>
              <td class="color--gray-2">12</td>
              <td class="api__color-white"><span class="color--accent"> "pep"</span>: null,</td>
            </tr>
            <tr>
              <td class="color--gray-2">13</td>
              <td class="api__color-white">
                <span class="color--accent">"profile_status"</span>: false,
              </td>
            </tr>
          </table>
        </div> -->
      </div>
    </div>
    <div class="verification" data-section="section">
      <h2 class="verification__title title__h3--m">
        Enhanced KYB Verification & Compliance
      </h2>
      <p class="verification__text">
        Compliance through the Know Your Business system is a time-consuming
        process. It needs to be performed throughout the entire cooperation for
        AML adherence. Possible changes in the company require attention that is
        why the check needs to be repeated.
      </p>
      <button class="verification__btn link-btn-primary">
        Book a demo
        <svg class="link-icon icon-arrow-east" width="18" height="18">
          <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
