<section class="steps section">
  <div class="steps__container container">
    <div class="steps__description">
      <h2 class="steps__title title--subtitle">KYB Process Steps</h2>
      <p class="steps__text">
        Lorem ipsum dolor sit amet consectetur. Ac placerat lectus vitae nibh
        nunc pharetra accumsan lobortis ut. Ornare natoque tellus est neque
        vulputate praesent eget. Eu placerat maecenas
      </p>
    </div>
    <ul class="steps__list">
      <li class="steps__item card" data-section="section">
        <div class="card__description">
          <p class="card__number">1 step</p>
          <h3 class="card__subtitle title__h3--ml">Document Verification</h3>
          <p class="card__text">
            Obtain and verify official business documents such as registration certificates, licenses, and permits to ensure legitimacy and compliance.
          </p>
        </div>
        <img
          class="card__img"
          src="/assets/pages/kyb/steps/1-step@1x.png"
          srcset="
            /assets/pages/kyb/steps/1-step@1x.webp 1x,
            /assets/pages/kyb/steps/1-step@2x.webp 2x,
            /assets/pages/kyb/steps/1-step@2x.png  2x
          "
          alt="1 step"
          width="300"
          height="200"
        />
      </li>
      <li class="steps__item card" data-section="section">
        <div class="card__description">
          <p class="card__number">2 step</p>
          <h3 class="card__subtitle title__h3--ml">Ownership Information</h3>
          <p class="card__text">
            Collect and authenticate information about the company's ownership structure, identifying the ultimate beneficial owners (UBOs) and key stakeholders.
          </p>
        </div>
        <img
          class="card__img"
          src="/assets/pages/kyb/steps/2-step@1x.png"
          srcset="
            /assets/pages/kyb/steps/2-step@1x.webp 1x,
            /assets/pages/kyb/steps/2-step@2x.webp 2x,
            /assets/pages/kyb/steps/2-step@2x.png  2x
          "
          alt="1 step"
          width="300"
          height="200"
        />
      </li>
      <li class="steps__item card" data-section="section">
        <div class="card__description">
          <p class="card__number">3 step</p>
          <h3 class="card__subtitle title__h3--ml">Business Purpose and Activities</h3>
          <p class="card__text">
            Clearly understand and document the nature of the business, its intended activities, and any changes that might impact compliance.
          </p>
        </div>
        <img
          class="card__img"
          src="/assets/pages/kyb/steps/3-step@1x.png"
          srcset="
            /assets/pages/kyb/steps/3-step@1x.webp 1x,
            /assets/pages/kyb/steps/3-step@2x.webp 2x,
            /assets/pages/kyb/steps/3-step@2x.png  2x
          "
          alt="1 step"
          width="300"
          height="200"
        />
      </li>
      <li class="steps__item card" data-section="section">
        <div class="card__description">
          <p class="card__number">4 step</p>
          <h3 class="card__subtitle title__h3--ml">Risk Assessment</h3>
          <p class="card__text">
            Conduct a thorough risk assessment, evaluating the potential for money laundering, fraud, or other illicit activities associated with the business.
          </p>
        </div>
        <img
          class="card__img"
          src="/assets/pages/kyb/steps/4-step@1x.png"
          srcset="
            /assets/pages/kyb/steps/4-step@1x.webp 1x,
            /assets/pages/kyb/steps/4-step@2x.webp 2x,
            /assets/pages/kyb/steps/4-step@2x.png  2x
          "
          alt="1 step"
          width="300"
          height="200"
        />
      </li>
      <li class="steps__item card" data-section="section">
        <div class="card__description">
          <p class="card__number">5 step</p>
          <h3 class="card__subtitle title__h3--ml">Transaction Monitoring</h3>
          <p class="card__text">
            Implement systems to monitor and analyze business transactions, identifying any unusual or suspicious activities that may require further investigation.
          </p>
        </div>
        <img
          class="card__img"
          src="/assets/pages/kyb/steps/5-step@1x.png"
          srcset="
            /assets/pages/kyb/steps/5-step@1x.webp 1x,
            /assets/pages/kyb/steps/5-step@2x.webp 2x,
            /assets/pages/kyb/steps/5-step@2x.png  2x
          "
          alt="1 step"
          width="300"
          height="200"
        />
      </li>
    </ul>
  </div>
</section>
