@use "../vars";
@media screen and (max-width: vars.$screen-tab) {
  @import "@splidejs/splide/css/core";
}

.chek-works {
  margin-top: 48px;
  gap: 24px;
  .title--subtitle {
    margin-bottom: 16px;
    color: rgba(13, 13, 13, 1);
  }

  &.section {
    padding: 0;
  }
  &.container {
    padding: 0 16px;
  }
  &__cards {
    .item {
      justify-content: start;
      border-radius: 24px;
      border: 1px solid var(--Grey-02, #e2e2e2);
      background-image: -webkit-image-set(
        url("/assets/check-works/elipse@1x.png") 1x,
        url("/assets/check-works/elipse@2x.png") 2x
      );
      background-image: image-set(
        url("/assets/check-works/elipse@1x.png") 1x,
        url("/assets/check-works/elipse@2x.png") 2x
      );
      background-repeat: no-repeat;
      background-position: right -30px top -30px;
      .item__text {
        max-width: 405px;
        .color--accent {
          font-size: 22px;
          margin-bottom: 4px;
        }
        .text {
          line-height: 130%;
        }
      }
      .icon {
        width: 46px;
        height: 46px;
      }
      &.section {
        gap: 16px;
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}
@media screen and (min-width: vars.$screen-tab) {
  .chek-works {
    gap: 72px;
    .title--subtitle {
      margin-bottom: 32px;
      line-height: 120%;
      font-feature-settings: "numr" on;
    }
    margin-top: 0;
    .item {
      background-color: #f8f8f8;
    }
    .flex--col {
      justify-content: center;

      line-height: 130%;
      max-width: 100%;
    }
    &.section {
      padding-top: 54px;
      padding-bottom: 54px;
    }
    &.flex--col {
      flex-direction: column;

      justify-content: space-between;
    }
    @media screen and (min-width: 1180px) {
      &.flex--col {
        flex-direction: row;
      }
      .flex--col {
        max-width: 655px;
      }
    }

    &__cards {
      display: flex;
      gap: 8px;
      flex-direction: column;
      &.flex {
      }
      .item {
        width: 100%;

        justify-content: start;

        margin-bottom: 24px;

        border: 1px solid var(--Grey-02, #e2e2e2);

        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: -300px;
        transition: background-position-y 0.3s linear;
        &.section {
          gap: 24px;
        }
        .text {
          font-size: 16px;
          line-height: 130%;
        }
        .icon {
          flex: 0 0 content;
        }

        &:hover {
          border: 1px solid var(--CTA, #06f);
          // backdrop-filter: blur(7.5px);
          background-position-y: 0px;
          transition: background-position-y 0.3s linear;
        }
        &.flex--col {
          flex-direction: row;
        }
      }
    }
  }
}
