@use "../vars";

.check-free {
  margin-top: 48px;
  &__container {
    position: relative;
    &::before {
      content: url("/assets/svg/ellipse-blue.svg");
      position: absolute;
      right: -237px;
      top: -223.879px;
      z-index: 1;
      width: 424px;
      height: 424px;

      opacity: 1;
      pointer-events: none;
    }

    &::after {
      content: url("/assets/svg/ellipse-yellow.svg");
      position: absolute;
      left: -6px;
      bottom: -156px;
      z-index: 1;

      width: 264px;
      height: 264px;
      opacity: 1;
    }
  }
  &__wrapper {
    position: relative;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    z-index: 3;

    border-radius: 24px;
    border: 2px solid rgba(229, 230, 230, 0.3);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
  }

  &__title {
    text-align: center;
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .check-free {
    &__container {
      &::before {
        width: 752px;
        height: 752px;
        right: -178px;
        top: -303px;
        border-radius: 752px;
      }

      &::after {
        width: 430px;
        height: 430px;
        left: 13px;
        bottom: -195px;
        border-radius: 430px;
      }
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .check-free {
    &__container {
      &::before {
        right: -178px;
        top: -303px;
      }

      &::after {
        left: 66px;
        bottom: -213px;
      }
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .check-free {
    margin-top: 0;
    margin-bottom: 0;

    &__container {
      padding-top: 72px;
      padding-bottom: 72px;
      &::before {
        right: 0px;
        top: -210px;
      }

      &::after {
        left: 139px;
        bottom: -108px;
      }
    }

    &__wrapper {
      padding: 56px;
    }
  }
}
