@use "../vars";
@media screen and (max-width: 1023px) {
  @import "@splidejs/splide/css/core";
}

.verification {
  &.section {
    padding-bottom: 0px;
  }
  &.container {
    padding-right: 8px;
    padding-left: 8px;
  }
  &__mainTitle {
    padding-bottom: 24px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .text {
    font-size: 16px;
  }
  text-align: center;

  .title__text {
    text-wrap: wrap;
  }
  .title--subtitle {
    font-size: clamp(36px, 3.7vw, 44px);
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1.2;

    margin-bottom: 24px;
    color: rgba(13, 13, 13, 1);
  }
  .text {
    font-family: "DM Sans";
    font-size: 22px;
    line-height: 1.3;
  }

  &__list {
    &.splide__list {
      margin-top: 48px !important;
    }

    .item {
      gap: 24px;

      width: 200px;
      height: auto;

      padding: 8px 8px 24px 8px;
      border-radius: 24px;
      border: 1px solid var(--Grey, #e5e6e6);
      background: #fdfdfd;

      .title--subtitle {
        font-size: 24px;
        margin-bottom: 8px;
        padding: 0;
        color: rgba(13, 13, 13, 1);
      }
      .text {
        font-size: 16px;
      }

      .image {
        margin: 0 auto;
        width: 100%;
      }
      &__text {
        text-align: start;
        padding: 0 8px;
      }
    }
  }
  &__scroll {
    gap: 8px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;

    flex-direction: row;
    .item {
      width: 12px;
      height: 12px;
      background-color: #e5e6e6;
      border-radius: 50%;
      &.is-active {
        background-color: vars.$color--accent;
      }
    }
  }
  &__list--dt {
    display: none;
  }
  @media screen and (min-width: vars.$screen-lt) {
    &.container {
      .verification__list {
        .item__text {
          margin: 0;
          padding: 0;
        }
        .item {
          border: none;
          color: #e2e2e2;
          transition: color 0.3s ease-in;
          .text {
            transition: color 0.3s ease-in;
          }
          .title--subtitle {
            margin-bottom: 16px;

            color: inherit;
            transition: color 0.3s ease-in;
          }
          flex-basis: auto;
          border: none;
          border-radius: 0;

          &.active {
            .title--subtitle {
              color: #111111;
            }
            .text {
              color: #595d62;
            }
          }
        }
      }

      .verification__scroll {
        display: none;
      }
    }

    //! MAIN DT CLASSES
    &__mainTitle {
      padding-top: 112px;
      padding-bottom: 112px;
    }
    &.section {
      padding-top: 0px;
      padding-bottom: 72px;
    }
    &__container {
      padding-top: 72px;
      padding-bottom: 72px;

      display: flex;

      justify-content: space-between;

      gap: 10px;
    }
    &__list {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      gap: 64px;
      width: 50%;
      &.splide__list {
        margin-top: 0px;
        margin-top: 255px;
      }
      .item {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: white;

        .title--subtitle {
          font-size: 44px;
        }
      }
      .image {
        display: none;
      }
    }

    &__list--dt {
      display: flex;
      position: sticky;
      top: 0;
      opacity: 1;
      width: 450px;

      height: 450px;

      border-radius: 42px;
      background-color: rgb(89, 94, 99, 0.1);

      :first-child {
        transition: opacity 0.25s ease-in;
      }
      :last-child {
        transition: opacity 0.25s ease-in;
      }
      .item {
        position: absolute;
        top: 0;
        height: 450px;
        width: 450px;
        opacity: 0;

        &.active {
          opacity: 1;
        }
      }
    }
  }
}
