@use "../vars";

.government-checks {
  margin-top: 16px;
  margin-bottom: 48px;

  &__container {
    padding-left: 8px;
    padding-right: 8px;
  }

  &__gradient-wrapper {
    overflow: hidden;
    border-radius: 24px;
  }

  &__wrapper {
    position: relative;
    padding: 32px 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;

    background: linear-gradient(
      260.95deg,
      #fdfdfd -5.32%,
      #fdfdfd 102.18%
    ) padding-box, linear-gradient(260.95deg,
    #0066ff -5.32%,
    rgba(0, 102, 255, 0.09) 102.18%) border-box;
    border: 4px solid;
    border-color: transparent;
    border-radius: 24px;
  }

  &__lottie-animation {
    max-width: 364px;
    max-height: 456px;
    margin: 0 auto;
  }

  &__description {
    margin-top: 32px;
    text-align: center;
  }

  &__text {
    margin-top: 16px;
    font-family: "DM Sans";
    line-height: 1.3;
  }

  &__link {
    margin-top: 24px;
  }
}

// ----------------------------- Animation -----------------------------------

.government-checks__wrapper .horizontal-animation {
  position: absolute;
  z-index: 2;
  top: -4px;
  left: 50px;
  width: 80px;
  height: 4px;
  
  border-radius: 2px;
  background: linear-gradient(
    to left,
    #c2f29b 0.43%,
    #99c677 14.11%,
    rgba(165, 198, 119, 0) 62.95%
  );
  opacity: 0;

  animation: run-horizontal 2s ease-out 3s infinite;
  animation-fill-mode: forwards;

  &--slow {
    left: 100px;
    animation: run-horizontal 5s ease-out 10s infinite;
    animation-fill-mode: forwards;
  }

  &--fast {
    animation: run-horizontal 4s ease-out 5s infinite;
    animation-fill-mode: forwards;
  }

  @keyframes run-horizontal {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(800px);
    }
  }
}

.government-checks__wrapper .vertical-animation {
  position: absolute;
  z-index: 2;
  top: 50px;
  right: -4px;
  width: 4px;
  height: 80px;
  
  border-radius: 2px;
  background: linear-gradient(
    to top,
    #c2f29b 0.43%,
    #99c677 14.11%,
    rgba(165, 198, 119, 0) 62.95%
  );

  opacity: 0;

  animation: run-vertical 2s ease-out 4s infinite;
  animation-fill-mode: forwards;

  &--slow {
    top: 100px;
    animation: run-vertical 5s ease-out 11s infinite;
    animation-fill-mode: forwards;
  }

  &--fast {
    animation: run-vertical 4s ease-out 6s infinite;
    animation-fill-mode: forwards;
  }

  @keyframes run-vertical {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(300px);
    }
  }
}

@media screen and (min-width: vars.$screen-mob) {
  .government-checks {
    &__link {
      display: inline-flex;
    }
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .government-checks {
    margin-top: 24px;

    &__wrapper {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    &__lottie-animation {
      margin: 0;
    }
    &__description {
      margin-top: 0;
      max-width: calc(100% - 400px);
      text-align: left;
    }

    &__text {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .government-checks {
    &__description {
      max-width: calc(100% - 500px);
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .government-checks {
    margin-top: 32px;
    margin-bottom: 0;
    padding-bottom: 56px;

    &__container {
      padding: 0;
    }

    &__wrapper {
      padding: 56px 140px 56px 56px;
    }

    &__description {
      max-width: 573px;
    }

    &__text {
      margin-top: 24px;
      font-size: 22px;
    }

    &__link {
      margin-top: 32px;
    }
  }
}