.face_verification {
  text-align: center;
}
.face_verification .title {
  padding-top: 112px;
  padding-bottom: 112px;
}
.face_verification .box {
  padding: 72px 180px;
}
.face_verification .verification {
  max-height: 594px;
  width: 100%;
  overflow: hidden;
  padding: 72px 0px;
}
.face_verification .verification_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 90px;
  overflow: scroll;
  background-color: grey;
  padding: 0 180px;
}
.face_verification .verification_wrapper::-webkit-scrollbar {
  width: 0;
}
.face_verification .verification_wrapper .list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  color: #e2e2e2;
  max-width: 540px;
  max-height: 450px;
}
.face_verification .verification_wrapper .list .list_item:last-child {
  padding-bottom: 351px;
}
.face_verification .verification_wrapper .list .list_item {
  cursor: pointer;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.face_verification .verification_wrapper .list .list_item :hover {
  color: gray;
}
.face_verification .verification_wrapper .list .list_item .title {
  padding: 0;
  color: inherit;
}
.face_verification .verification_wrapper .list .list_item .title:hover {
  color: gray;
}
.face_verification .verification_wrapper .list .list_item.active {
  color: red;
  background-color: grey;
}
.face_verification .verification_wrapper .frameContainer {
  position: sticky;
  top: 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  min-width: 450px;
  min-height: 450px;
  border-radius: 32px;
  background: linear-gradient(316deg, #b1d0ff -2.89%, #fff 105.86%);
}
.face_verification .verification_wrapper .frameContainer .frameContainer_img {
  width: 450px;
  position: absolute;
  border-radius: 32px;
  opacity: 0;
}/*# sourceMappingURL=face-varifiation.css.map */