<section class="faq section" data-section="section">
  <div class="faq__container container">
    <h2 class="faq__title title--subtitle">
      FAQ
    </h2>
    <div class="faq__wrapper">
      <ul class="faq__list" data-faq-list>
        <li class="faq__item show-content">
          <div class="faq__description">
            <h3 class="faq__subtitle title__h3--s">What is a Liveness Check?</h3>
            <div class="faq__icon-wrapper">
              <svg
                class="faq__icon icon-add"
                width="24"
                height="24"
              >
                <use href="/assets/svg/sprite.svg#icon-add"></use>
              </svg>
            </div>
          </div>
          <div class="faq__content">
            <p class="faq__text text">
              A Liveness Check is a security measure used in identity verification to ensure that the person undergoing the verification process is a real, live human and not a photo, video, mask, or other form of impersonation. This is typically achieved by asking the user to perform specific actions in real-time, such as blinking, smiling, or turning their head.
            </p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__description">
            <h3 class="faq__subtitle title__h3--s">How does a Liveness Check work?</h3>
            <div class="faq__icon-wrapper">
              <svg
                class="faq__icon icon-add"
                width="24"
                height="24"
              >
                <use href="/assets/svg/sprite.svg#icon-add"></use>
              </svg>
            </div>
          </div>
          <div class="faq__content">
            <p class="faq__text text">
              A Liveness Check works by utilizing advanced biometric technology, often facial recognition software, to analyze various unique traits and movements of a person. The person is required to perform certain actions, and the system checks for natural, human responses. It's designed to spot and reject any non-live attempts to pass the verification, such as using photos or videos.
            </p>
          </div>
        </li>
      </ul>
      <ul class="faq__list" data-faq-list>
        <li class="faq__item">
          <div class="faq__description">
            <h3 class="faq__subtitle title__h3--s">Why Liveness Check is important?</h3>
            <div class="faq__icon-wrapper">
              <svg
                class="faq__icon icon-add"
                width="24"
                height="24"
              >
                <use href="/assets/svg/sprite.svg#icon-add"></use>
              </svg>
            </div>
          </div>
          <div class="faq__content">
            <p class="faq__text text">
              Liveness Checks are crucial in identity verification as they add an extra layer of security, ensuring that the person undergoing the verification process is physically present and not using a false identity. They help prevent fraud and identity theft, making systems that require identity verification more secure and reliable.
            </p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__description">
            <h3 class="faq__subtitle title__h3--s">What is a Liveness Check?</h3>
            <div class="faq__icon-wrapper">
              <svg
                class="faq__icon icon-add"
                width="24"
                height="24"
              >
                <use href="/assets/svg/sprite.svg#icon-add"></use>
              </svg>
            </div>
          </div>
          <div class="faq__content">
            <p class="faq__text text">
              <a href="/" class="faq__text-link">Kycaid.com</a> employs advanced liveness checks to enhance security and ensure the reliability of identity verification processes. These checks are designed to minimize the risk of being fooled by various fraudulent tactics. However, it's essential to stay informed about the latest advancements in biometric technology and security measures to continuously improve the effectiveness of liveness checks. <a href="/" class="faq__text-link">Kycaid.com</a> is committed to staying at the forefront of these developments to provide robust and trustworthy identity verification solutions.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
