<section class="hero">
  <div class="hero__container container">
    <div class="hero__description">
      <h1 class="hero__title title__h1--m">
        Quick <span class="hero__title-accent title-accent">Liveness Check</span><br>and 3D Facial Recognition
      </h1>
      <p class="hero__text">
        Safeguard against fraud by verifying the authentic presence of customers using KYCAID's business-friendly biometric solutions.
      </p>
      <a class="hero__link link-btn-primary" href="#">
        <span class="link-title"> Book a demo </span>
        <svg class="link-icon icon-arrow-east" width="18" height="18">
          <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
        </svg>
      </a>
    </div>
    <video class="hero__video" width="293" height="399" autoplay loop muted playsinline>
      <source src="/assets/pages/livenesscheck/video/liveness-hero-video.webm" type="video/webm">
      <source src="/assets/pages/livenesscheck/video/liveness-hero-video.mp4" type="video/mp4" >
      <p>
        Your browser doesn't support HTML video. Here is a
      </p>    
    </video>
  </div>
</section>
