<section class="products section" data-section="section">
  <div class="products__content ">
    <h2 class="products__title title--subtitle container">Product Features</h2>
    <p class="products__text container">
      Elevate your business security with Active and Passive Liveness Checks
      coupled with robust Anti-Fraud Mechanisms. Experience KYCAID's propriety
      technology that ensures real-time authentication, thwarting fraudulent
      attempts seamlessly.
    </p>
    <div
      id="thumbnail-carousel"
      class="products__splide splide"
      aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
    >
      <div class="splide__track">
        <ul class="splide__list products__btn-list">
          <li class="splide__slide products__button-wrapper">
            <button type="button" class="products__button">
              Active liveness check
            </button>
          </li>
          <li class="splide__slide products__button-wrapper">
            <button type="button" class="products__button">
              Passive liveness check
            </button>
          </li>
          <li class="splide__slide products__button-wrapper">
            <button type="button" class="products__button">
              Anti-fraud mechanism
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div
      id="main-carousel"
      class="products__splide splide"
      aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
    >
      <div class="splide__track">
        <ul class="splide__list products__card-list">
          <li class="splide__slide products__card ">
            <div class="products__lottie lottie-animation-product">

            </div>
            <div class="products__description">
              <h2 class="products__subtitle title__h3--ms">
                Active Liveness Check
              </h2>
              <p class="products__description-text">
                Boost your platform's security with KYCAID's Active Liveness Check. Experience the cutting-edge solution that confirms user authenticity in real-time. By engaging users in dynamic actions, we provide superior protection against identity fraud, delivering a safer, more reliable, and trust-building experience for your customers. Security was never this interactive!
              </p>
            </div>
          </li>
          <li class="splide__slide products__card ">
            <div class="products__lottie lottie-animation-product">

            </div>
            <div class="products__description">
              <h2 class="products__subtitle title__h3--ms">
                Passive Liveness Check
              </h2>
              <p class="products__description-text">
                Elevate your security measures with KYCAID's Passive Liveness Check. Experience a seamless verification process that works behind the scenes, silently ensuring the authenticity of users. Our advanced algorithms detect fraudulent attempts effectively, ensuring maximum protection against identity theft. Enhance safety with our unintrusive, user-friendly solution.
              </p>
            </div>
          </li>
          <li class="splide__slide products__card">
            <div class="products__lottie lottie-animation-product">

            </div>
            <div class="products__description">
              <h2 class="products__subtitle title__h3--ms">
                Anti-fraud mechanism
              </h2>
              <p class="products__description-text">
                The anti-fraud mechanism for face recognition is called face anti-spoofing (FAS). During the check, the system determines whether it is interacting with a real person or a fraudster who uses a fake ID such as:
              </p>
              <ul class="products__description-list">
                <li class="products__description-item">
                  <svg class="products__list-icon icon-star" width="16" height="16">
                    <use href="/assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                  <p class="products__description-list-text">
                    Realistic mask
                  </p>
                </li>
                <li class="products__description-item">
                  <svg class="products__list-icon icon-star" width="16" height="16">
                    <use href="/assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                  <p class="products__description-list-text">
                    Deepfake
                  </p>
                </li>
                <li class="products__description-item">
                  <svg class="products__list-icon icon-star" width="16" height="16">
                    <use href="/assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                  <p class="products__description-list-text">
                    Face photo
                  </p>
                </li>
                <li class="products__description-item">
                  <svg class="products__list-icon icon-star" width="16" height="16">
                    <use href="/assets/svg/sprite.svg#icon-star"></use>
                  </svg>
                  <p class="products__description-list-text">
                    Video
                  </p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
