<section class="use-cases section">
  <div class="container">
    <h2 class="use-cases__title title--subtitle">Liveness check use cases</h2>
    <ul class="use-cases__list">
      <li class="use-cases__item card" data-section="section">
        <div class="card__icon-wrapper">
          <svg
            class="card__icon icon-kyb"
            width="32"
            height="32"
          >
            <use href="/assets/svg/sprite.svg#icon-kyb"></use>
          </svg>
        </div>
        <h3 class="card__title title__h3--xs">E-commerce Verification</h3>
        <p class="card__text text">
          Before making significant transactions, e-commerce platforms can use
          liveness checks to verify that the buyer or seller is not using stolen
          identities or credit card information.
        </p>
      </li>
      <li class="use-cases__item card" data-section="section">
        <div class="card__icon-wrapper">
          <svg
            class="card__icon icon-igaming"
            width="32"
            height="32"
          >
            <use href="/assets/svg/sprite.svg#icon-igaming"></use>
          </svg>
        </div>
        <h3 class="card__title title__h3--xs">Online Gaming and Gambling</h3>
        <p class="card__text text">
          Online gaming and gambling platforms can use liveness checks to verify the age and identity of their users, thereby adhering to regulations and preventing fraud and underage usage.
        </p>
      </li>
      <li class="use-cases__item card" data-section="section">
        <div class="card__icon-wrapper">
          <svg
            class="card__icon icon-healthcare"
            width="32"
            height="32"
          >
            <use href="/assets/svg/sprite.svg#icon-healthcare"></use>
          </svg>
        </div>
        <h3 class="card__title title__h3--xs">Telemedicine</h3>
        <p class="card__text text">
          Doctors can use liveness checks to ensure that the patient they are consulting with online is indeed the person they claim to be, ensuring patient confidentiality and preventing insurance fraud.
        </p>
      </li>
      <li class="use-cases__item card" data-section="section">
        <div class="card__icon-wrapper">
          <svg
            class="card__icon icon-location-city"
            width="32"
            height="32"
          >
            <use href="/assets/svg/sprite.svg#icon-location-city"></use>
          </svg>
        </div>
        <h3 class="card__title title__h3--xs">Government Services</h3>
        <p class="card__text text">
          Governments can use liveness checks for various services, such as issuing digital IDs, verifying tax return identities, or granting access to restricted government platforms.
        </p>
      </li>
      <li class="use-cases__item card" data-section="section">
        <div class="card__icon-wrapper">
          <svg class="icon-crypto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 18 18" fill="none">
            <rect x="1" y="1" width="16" height="16" rx="3" stroke="#0066FF" stroke-width="2"/>
            <path d="M5.30768 4.0769H10.3415C11.64 4.0769 12.6923 5.17844 12.6923 6.53844C12.6923 7.89844 11.64 8.99998 10.3415 8.99998C11.64 8.99998 12.6923 10.1015 12.6923 11.4615C12.6923 12.8215 11.64 13.9231 10.3415 13.9231H5.30768M6.53845 8.99998H11.4615M6.53845 2.84613V15.1538V4.0769M10.2308 2.84613V4.0769M10.2308 13.9231V15.1538" stroke="#0066FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <h3 class="card__title title__h3--xs">Mobile Wallets and Payment Apps</h3>
        <p class="card__text text">
          Liveness checks can add an extra layer of security for mobile wallets and payment apps, ensuring that the transactions are made by the legitimate account owner.
        </p>
      </li>
      <li class="use-cases__item card" data-section="section">
        <div class="card__icon-wrapper">
          <svg
            class="card__icon icon-about-us"
            width="32"
            height="32"
          >
            <use href="/assets/svg/sprite.svg#icon-about-us"></use>
          </svg>
        </div>
        <h3 class="card__title title__h3--xs">Digital Onboarding</h3>
        <p class="card__text text">
          Companies can use liveness checks to streamline their onboarding processes by quickly and securely verifying the identities of new customers or employees.
        </p>
      </li>
    </ul>
    <ul class="use-cases__list-color" data-section="section">
      <li class="use-cases__item-color card-related">
        <a href="#" class="card-related__link">
          <div class="card-related__description">
            <p class="card-related__subtitle text--s">Related Solution</p>
            <h3 class="card-related__title title__h3--m">Identity Verification</h3>
            <p class="card-related__text">
              Enable automatic user verification through KYCAID's Identity Verification solution
            </p>
          </div>
          <div class="card-related__icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35" fill="none">
              <path d="M11.3431 11.8137V13.8078L19.2415 13.8148L10.636 22.4203L12.0503 23.8345L20.6557 15.229L20.6487 23.1274H22.6569V11.8137H11.3431Z" fill="#111111"/>
              </svg>
          </div>
        </a>
      </li>
      <li class="use-cases__item-color card-related">
        <a href="#" class="card-related__link">
          <div class="card-related__description">
            <p class="card-related__subtitle text--s">Related Solution</p>
            <h3 class="card-related__title title__h3--m">KYC Solution</h3>
            <p class="card-related__text">
              Enhance security, streamline compliance, and implement a user-friendly KYC solution
            </p>
          </div>
          <div class="card-related__icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35" fill="none">
              <path d="M11.3431 11.8137V13.8078L19.2415 13.8148L10.636 22.4203L12.0503 23.8345L20.6557 15.229L20.6487 23.1274H22.6569V11.8137H11.3431Z" fill="#111111"/>
              </svg>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
