<section data-section="section" class="solutions section">
  <div class="solutions__container container">
    <div class="solutions__wrapper flex--col">
      <div>
        <h2 class="solutions__title title--subtitle">
          OCR Screening from KYCAID
        </h2>
        <p class="text">
          KYCAID's OCR system enhances KYC form verification, reducing sanction
          risks by checking ID documents, detecting alterations, ensuring image
          integrity with top-tier security and accuracy.
        </p>
      </div>
      <a class="hero__link link-btn-primary" href="#">
        <span class="link-title">Try it now</span>
        <svg class="link-icon icon-arrow-east2" width="18" height="18">
          <use href="/assets/svg/sprite.svg#icon-arrow-east2"></use>
        </svg>
      </a>

      <!-- <ul class="solutions__list">
        <li class="solutions__item advantages">
          <h3 class="advantages__title">
            Quality<span class="advantages__emoji">😎</span>
          </h3>
          <p class="advantages__text">
            We offer a proprietary compliance system and legal professionals
            that will help you achieve superior results.
          </p>
        </li>
        <li class="solutions__item advantages">
          <h3 class="advantages__title">
            Security<span class="advantages__emoji">👮</span>
          </h3>
          <p class="advantages__text">
            We guarantee strict compliance with the highest security demands
            confirmed by ISO certificates and security audits.
          </p>
        </li>
        <li class="solutions__item advantages">
          <h3 class="advantages__title">
            Speed<span class="advantages__emoji">🚀</span>
          </h3>
          <p class="advantages__text">
            We provide immediate documents and selfie verification and the
            highest SLA for manual checks.
          </p>
        </li>
      </ul> -->
    </div>
  </div>
</section>
