<section class="products section" data-section="section">
  <div class="products__content">
    <h2 class="products__title title--subtitle container">
      Robust ID Verification Procedure
    </h2>
    <p class="products__text container">
      Robust comprehensive procedure integrates cutting-edge technology and
      meticulous checks. Starting from document submission users receive the
      best experience and seamless journey ensuring accuracy, compliance, and
      security at every step.
    </p>
    <div
      id="thumbnail-carousel"
      class="products__splide splide"
      aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
    >
      <div class="splide__track">
        <ul class="splide__list products__btn-list">
          <li class="splide__slide products__button-wrapper">
            <button type="button" class="products__button">
              Document Submission
            </button>
          </li>
          <li class="splide__slide products__button-wrapper">
            <button type="button" class="products__button">
              Data Extraction
            </button>
          </li>
          <li class="splide__slide products__button-wrapper">
            <button type="button" class="products__button">
              Biometric Authentication
            </button>
          </li>
          <li class="splide__slide products__button-wrapper">
            <button type="button" class="products__button">
              Database Checks
            </button>
          </li>
          <li class="splide__slide products__button-wrapper">
            <button type="button" class="products__button">
              Real-Time Verification
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div
      id="main-carousel"
      class="products__splide splide"
      aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
    >
      <div class="splide__track">
        <ul class="splide__list products__card-list">
          <li class="splide__slide products__card">
            <div class="products__lottie lottie-animation-product"></div>
            <div class="products__description">
              <h2 class="products__subtitle title__h3--ms">
                Document Submission
              </h2>
              <p class="products__description-text">
                The initial step of the verification process is identification
                document submission which is simplified by the options of
                uploading or taking a photo of user documents. No manual data
                input is needed from the applicant.
              </p>
            </div>
          </li>
          <li class="splide__slide products__card">
            <div class="products__lottie lottie-animation-product"></div>
            <div class="products__description">
              <h2 class="products__subtitle title__h3--ms">Data Extraction</h2>
              <p class="products__description-text">
                AI-powered OCR technology promptly extracts all the necessary
                data points from the provided document, such as name, surname,
                date of birth, etc. It ensures accuracy and efficiency in
                capturing and validating crucial details, granting a smoother
                verification experience for each participant.
              </p>
            </div>
          </li>
          <li class="splide__slide products__card">
            <div class="products__lottie lottie-animation-product"></div>
            <div class="products__description">
              <h2 class="products__subtitle title__h3--ms">
                Biometric Authentication (Optional)
              </h2>
              <p class="products__description-text">
                Opt for biometric authentication for added security and
                confidence. It confirms the applicant's active presence and
                counters spoof attacks. Original AI technology matches
                biometrical characteristics with identification documents during
                our simple Liveness and Selfie verification.
              </p>
            </div>
          </li>
          <li class="splide__slide products__card">
            <div class="products__lottie lottie-animation-product"></div>
            <div class="products__description">
              <h2 class="products__subtitle title__h3--ms">Database Checks</h2>
              <p class="products__description-text">
                Our thorough process cross-matches applicants' data against
                global and local databases, including PEP, sanctions,
                watchlists, alongside blacklists. This ensures compliance,
                safeguarding your interests while meeting demanding regulatory
                standards.
              </p>
            </div>
          </li>
          <li class="splide__slide products__card">
            <div class="products__lottie lottie-animation-product"></div>
            <div class="products__description">
              <h2 class="products__subtitle title__h3--ms">
                Real-Time Verification
              </h2>
              <p class="products__description-text">
                Real-Time Verification Our swift and accurate checks deliver
                almost instant results, ensuring a secure and prompt
                verification experience. As soon as the applicant completes all
                steps the verification profile appears in the account dashboard
                and sends a notification to the user followed by the callback
                with all statuses and data.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
