<section
  data-section="section"
  class="how-ocr-works section splide container flex--col"
>
  <div class="how-ocr-works__title-block flex">
    <h2 class="title--subtitle">How OCR works</h2>
    <div class="splide__arrows flex">
      <button class="splide__arrow splide__arrow--prev controls">
        <svg width="24" height="24">
          <use href="/assets/svg/sprite.svg#icon-arrow-back"></use>
        </svg>
      </button>
      <button class="splide__arrow splide__arrow--next controls">
        <svg width="24" height="24">
          <use href="/assets/svg/sprite.svg#icon-arrow-forward"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide how-ocr-works__item">
        <div class="how-ocr-works__item--card">
          <img src="/assets/pages/ocr/step1.svg" alt="" />
        </div>
        <h3 class="color--accent how-ocr-works__item--steps">1 step</h3>
        <p class="text">
          <span class="how-ocr-works__item--text">Image preprocessing.</span>
          Cleaning the image, removing noise, and adjusting contrast
        </p>
      </li>
      <li class="splide__slide how-ocr-works__item">
        <div class="how-ocr-works__item--card">
          <img src="/assets/pages/ocr/step2.svg" alt="" />
        </div>
        <h3 class="color--accent how-ocr-works__item--steps">2 step</h3>
        <p class="text">
          <span class="how-ocr-works__item--text"
            >Layout analysis & Character Segmentation.</span
          >
          OCR algorithms find areas on the image filled with text
        </p>
      </li>
      <li class="splide__slide how-ocr-works__item">
        <div class="how-ocr-works__item--card">
          <img src="/assets/pages/ocr/step3.svg" alt="" />
        </div>
        <h3 class="color--accent how-ocr-works__item--steps">3 step</h3>
        <p class="text">
          <span class="how-ocr-works__item--text"
            >Recognition of individual characters.</span
          >
          Comparison of segmented characters with a database of known symbols
        </p>
      </li>
      <li class="splide__slide how-ocr-works__item">
        <div class="how-ocr-works__item--card">
          <img src="/assets/pages/ocr/step4.svg" alt="" />
        </div>
        <h3 class="color--accent how-ocr-works__item--steps">4 step</h3>
        <p class="text">
          <span class="how-ocr-works__item--text">Post-processing.</span>
          Formatting, spell-checking, and contextual information correction to
          rectify any errors
        </p>
      </li>
      <li class="splide__slide how-ocr-works__item">
        <div class="how-ocr-works__item--card">
          <img src="/assets/pages/ocr/step5.svg" alt="" />
        </div>
        <h3 class="color--accent how-ocr-works__item--steps">5 step</h3>
        <p class="text">
          <span class="how-ocr-works__item--text">Monitoring.</span>
          Monitoring changes in customer data and marking any unusual activity.
        </p>
      </li>
    </ul>
  </div>
</section>
