@use "../vars";

.faq {
  &__container {
    width: 100%;
  }

  &__title {
    color: vars.$color--black;
  }
  &__subtitle {
    font-size: 24px;
  }
  &__wrapper {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    &--content {
      row-gap: 16px;
    }
    &--item {
      list-style-image: url("/assets/pages/id_verification/star.svg");
      margin-left: 25px;
      padding-left: 3px;
      font-size: 16px;
    }
  }

  &__item {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    cursor: pointer;

    border-radius: 16px;
    border: 1px solid #e2e2e2;
    background: #fdfdfd;
    backdrop-filter: blur(7.5px);

    transition-property: border-color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &:hover {
      border-color: #06f;
      background-color: #fff;
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 100%;
  }

  &__icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 2px;
      background-color: vars.$black-color;
      opacity: 0;
      transform: rotate(-90deg);

      transition-property: opacity, transform, background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  }

  &__icon {
    opacity: 1;
    transform: rotate(0deg);

    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  &__content {
    margin-top: 24px;

    display: none;
    .text {
      margin-bottom: 16px;
    }
  }

  &__text-link {
    color: vars.$cta-color;
    text-decoration: underline;
  }
}

.show-content {
  &.faq__item {
    border-color: #06f;
    background-color: #fff;
  }

  .faq__icon-wrapper {
    &::before {
      background-color: vars.$cta-color;
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  .faq__icon {
    opacity: 0;
    transform: rotate(90deg);
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .faq {
    &.section {
      padding-bottom: 112px;
    }
    &__title {
      text-align: center;
    }
    &__wrapper {
      flex-direction: row;
    }
    &__list {
      flex-basis: calc((100% - 24px) / 2);
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .faq {
    &__wrapper {
      margin-top: 56px;
    }

    &__item {
      padding: 32px;
      border-radius: 24px;
      border-width: 2px;
    }
  }
}
