@use "../vars";

@media screen and (max-width: 1023px) {
  @import "@splidejs/splide/css/core";
}

.how-ocr-works {
  &.section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  gap: 32px;

  &--pagination {
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0 auto;
    // margin-top: 10px;

    flex-direction: row;
    .item {
      width: 12px;
      height: 12px;
      background-color: #e5e6e6;
      border-radius: 50%;
      &.is-active {
        background-color: vars.$color--accent;
      }
    }
  }
  .splide__arrows {
    gap: 24px;
  }
  button[disabled] {
    fill: #98a5b2;
    background-color: #e5e6e6;
    border: 1px solid var(--Grey-04, #98a5b2);
  }
  .controls {
    box-sizing: content-box;
    padding: 16px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: var(--Green, #d2fa57);
    border: 1px solid var(--Black, #111);
  }
  &__title-block {
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    padding: 24px;
    width: 294px;
    border-radius: 24px;
    border: 2px solid var(--Grey-02, #e5e6e6);
    background: var(--Grey, #fdfdfd);
    &--card {
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;
      max-width: 246px;
      // padding: 24px 42px;
      // background-color: #d2fa57;
      // border-radius: 16px;
      // border: 1px solid #000;
    }
    &--steps {
      margin-bottom: 16px;
      letter-spacing: -1px;
      font-weight: 600;
      padding: 4px 8px;
      width: max-content;
      border-radius: 8px;
      border: 1px solid var(--Blue, #06f);
      background: #f5f7ff;
      font-size: 16px;
    }
    &--text {
      font-weight: 700;
      color: #111111;
    }
  }

  &.section {
    // padding-top: clamp(24px, 14vw, 112px);
    // padding-bottom: clamp(24px, 14vw, 112px);
    padding-top: clamp(32px, 1.6vw, 112px);
    padding-bottom: clamp(32px, 1.6vw, 112px);
    // padding-top: 24px;
    // padding-bottom: 24px;
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .how-ocr-works {
    &.section {
      padding-top: clamp(24px, 8vw, 112px);
      padding-bottom: clamp(24px, 5vw, 72px);
    }
    &__container {
      // padding-top: 68px;
      // padding-bottom: 68px;
    }

    &__title {
      font-size: 24px;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .partners {
    &__container {
      // padding-top: 90px;
      // padding-bottom: 90px;
      gap: 32px;
    }

    &__item {
      padding: 17px 29.5px;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .partners {
    &.section {
      // padding-top: 112px;
      // padding-bottom: 112px;
      // margin-top: 0;
    }

    &__container {
      // padding-top: 112px;
      // padding-bottom: 112px;
      gap: 32px;
    }
  }
}
