@use "../vars";

.solutions {
  .link-btn-primary {
    gap: 16px;
    max-width: 189px;
    margin-top: 16px;
    background-color: #d2fa57;
    color: black;
    .icon-arrow-east2 {
      fill: black;
    }
    &:hover {
      background-color: #d6feb7;
    }
  }
  &.section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  // margin-top: 48px;

  &__container {
    padding-left: 8px;
    padding-right: 8px;
  }
  &__title {
    .title--subtitle {
      text-align: left;
    }
  }
  &__wrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;

    // background-color: vars.$cta-color;
    border-radius: 24px;
    background-image: url("/assets/pages/ocr/BG2_mob.svg");
    background-repeat: no-repeat;
    // background-position: left bottom;
    background-size: cover;
    .text {
      color: white;
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        // background-image: url("assets/software-solutions/bg-mob@2x.png");
      }
    }

    @media screen and (min-width: vars.$screen-tab) {
      background-image: url("/assets/pages/id_verification/swiftBG.svg");
      background-repeat: no-repeat;
      // background-size: cover;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          // background-image: url("assets/software-solutions/bg@2x.png");
        }
      }
    }
  }

  &__title {
    color: white;
    text-align: left;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    padding: 16px;
    background-color: #fdfdfd33;
    border-radius: 24px;
    border: 1px solid vars.$grey;
    // backdrop-filter: blur(10px);
  }
}

.advantages {
  &__title {
    font-family: "Anek Bangla";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: vars.$body-color;
  }

  &__emoji {
    margin-left: 8px;
  }

  &__text {
    margin-top: 12px;
    font-size: 16px;
    color: rgba(253, 253, 253, 1);
    line-height: 1.3;
  }
}

@media screen and (min-width: 768px) {
  .solutions {
    .container {
      width: 100%;
    }
    &.section {
      padding-top: clamp(24px, 8vw, 72px);
      padding-bottom: clamp(24px, 8vw, 72px);
    }

    &__wrapper {
      // background-position: right;
      // background-size: contain;
      width: 100%;
    }

    &__list {
      flex-direction: row;
      gap: 16px;
    }

    &__item {
      max-width: calc((100% - 32px) / 3);
    }
  }

  .advantages {
    &__title {
      font-size: 20px;
    }
  }
}
@media screen and (min-width: vars.$screen-lt) {
  .solutions {
    .title--subtitle {
      font-size: 32px;
      margin-bottom: 16px;
    }
    &__wrapper {
      flex-direction: row;
      flex: 1;
      justify-content: space-between;
    }
    .link-btn-primary {
      margin: 0;
    }
    .text {
      max-width: 800px;
      font-size: 22px;
    }
  }
}
@media screen and (min-width: 1440px) {
  .solutions {
    &__container {
      padding-left: 0;
      padding-right: 0;
    }

    &__wrapper {
      padding: 56px;
      gap: 32px;
    }

    &__list {
      gap: 24px;
    }

    &__item {
      padding: 24px;
      max-width: calc((100% - 48px) / 3);
    }
  }

  .advantages {
    &__title {
      font-size: 22px;
    }
    &__text {
      margin-top: 6px;
    }
  }
}
