<section class="checks section" data-section="section">
  <div class="checks__container container">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
        /assets/pages/kyc-verification/checks/diagrama-lt@1x.webp 1x,
        /assets/pages/kyc-verification/checks/diagrama-lt@2x.webp 2x,
        /assets/pages/kyc-verification/checks/diagrama-lt@1x.png 1x,
        /assets/pages/kyc-verification/checks/diagrama-lt@2x.png  2x
        "
      />
      <img
        class="checks__image"
        src="/assets/pages/kyc-verification/checks/diagrama@1x.png"
        srcset="
          /assets/pages/kyc-verification/checks/diagrama@1x.webp 1x,
          /assets/pages/kyc-verification/checks/diagrama@2x.webp 2x,
          /assets/pages/kyc-verification/checks/diagrama@2x.png  2x
        "
        alt="diagrama"
        width="343"
        height="300"
      />
    </picture>
      
    <div class="checks__description">
      <h2 class="checks__title title__h2--m">
        KYC & AML Checks<br />for Legal Entities
      </h2>
      <p class="checks__text">
        Enhance compliance for your legal entity with our KYC services.
        Streamline onboarding, mitigate risks, and ensure regulatory adherence
        through cutting-edge tools. Risks can impact any professional field,
        both internally and externally. In legal, as in finance and real estate,
        effective risk management, and adherence to KYC & AML policies are
        crucial.
      </p>
      <p class="checks__text">
        Law firms are increasingly targeted by financial fraudsters and
        cybercriminals seeking to exploit client data and infiltrate networks.
        To ensure smooth operations and business continuity, implement robust
        risk management measures and adhere to defined regulations.
      </p>
    </div>
  </div>
</section>
