<section class="hero">
  <div class="hero__container container">
    <div class="hero__description">
      <h1 class="hero__title title__h1--m">
        KYC Verification for Law Firms & Solicitors
      </h1>
      <p class="hero__text">
        Unlock fast and reliable client onboarding and compliance with KYC
        solutions from KYCAID. Elevate your law firm's diligence, ensuring
        regulatory compliance effortlessly with our advanced tools
      </p>
      <a class="hero__link link-btn-primary" href="#">
        <span class="link-title"> Book a demo </span>
        <svg class="link-icon icon-arrow-east" width="18" height="18">
          <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
        </svg>
      </a>
    </div>
    <video
      class="hero__video"
      width="300"
      height="300"
      autoplay
      loop
      muted
      playsinline
    >
      <source
        src="/assets/pages/kyc-verification/video/law-firms-promo.webm"
        type="video/webm"
      />
      <source
        src="/assets/pages/kyc-verification/video/law-firms-promo.mp4"
        type="video/mp4"
      />
      <p>Your browser doesn't support HTML video. Here is a</p>
    </video>
  </div>
</section>
