<section class="legal section">
  <div class="legal__container container">
    <h2 class="legal__title title--subtitle">KYC legal requirements</h2>
    <div class="legal__wrapper splide">
      <div class="legal__content splide__track">
        <ul class="legal__list splide__list">
          <li class="legal__item splide__slide" data-section="section">
            <div class="legal__image-wrapper">
              <img
                class="legal__image"
                src="/assets/pages/kyc-verification/legal/identification-mob@1x.png"
                srcset="
                /assets/pages/kyc-verification/legal/identification-mob@1x.webp 1x,
                /assets/pages/kyc-verification/legal/identification-mob@2x.webp 2x,
                /assets/pages/kyc-verification/legal/identification-mob@2x.png 2x
              "
                alt="Customer Identification"
                width="255"
                height="120"
              />
            </div>
            <div class="legal__description">
              <h3 class="legal__subtitle title__h3--xs">Customer Identification</h3>
              <p class="legal__text">
                Establishing the identity of clients through reliable documents,
                data, or information.
              </p>
            </div>
          </li>
          <li class="legal__item splide__slide" data-section="section">
            <div class="legal__image-wrapper">
              <img
                class="legal__image"
                src="/assets/pages/kyc-verification/legal/beneficial-mob@1x.png"
                srcset="
                /assets/pages/kyc-verification/legal/beneficial-mob@1x.webp 1x,
                /assets/pages/kyc-verification/legal/beneficial-mob@2x.webp 2x,
                /assets/pages/kyc-verification/legal/beneficial-mob@2x.png 2x
              "
                alt="Beneficial Ownership Disclosure"
                width="255"
                height="120"
              />
            </div>
            <div class="legal__description">
              <h3 class="legal__subtitle title__h3--xs">Beneficial Ownership Disclosure</h3>
              <p class="legal__text">
                Requiring disclosure of the ultimate beneficial owners of legal entities to prevent hidden ownership structures.
              </p>
            </div>
          </li>
          <li class="legal__item splide__slide" data-section="section">
            <div class="legal__image-wrapper">
              <img
                class="legal__image"
                src="/assets/pages/kyc-verification/legal/risk-mob@1x.png"
                srcset="
                /assets/pages/kyc-verification/legal/risk-mob@1x.webp 1x,
                /assets/pages/kyc-verification/legal/risk-mob@2x.webp 2x,
                /assets/pages/kyc-verification/legal/risk-mob@2x.png 2x
              "
                alt="Risk Assessment"
                width="255"
                height="120"
              />
            </div>
            <div class="legal__description">
              <h3 class="legal__subtitle title__h3--xs">Risk Assessment</h3>
              <p class="legal__text">
                Conducting risk assessments to categorize clients based on their risk profile, enabling tailored due diligence procedures.
              </p>
            </div>
          </li>
          <li class="legal__item splide__slide" data-section="section">
            <div class="legal__image-wrapper">
              <img
                class="legal__image"
                src="/assets/pages/kyc-verification/legal/monitoring-mob@1x.png"
                srcset="
                /assets/pages/kyc-verification/legal/monitoring-mob@1x.webp 1x,
                /assets/pages/kyc-verification/legal/monitoring-mob@2x.webp 2x,
                /assets/pages/kyc-verification/legal/monitoring-mob@2x.png 2x
              "
                alt="Ongoing Monitoring"
                width="255"
                height="120"
              />
            </div>
            <div class="legal__description">
              <h3 class="legal__subtitle title__h3--xs">Ongoing Monitoring</h3>
              <p class="legal__text">
                Implementing systems for continuous monitoring of client transactions and behavior for any anomalies or changes.
              </p>
            </div>
          </li>
          <li class="legal__item splide__slide" data-section="section">
            <div class="legal__image-wrapper">
              <img
                class="legal__image"
                src="/assets/pages/kyc-verification/legal/cdd-mob@1x.png"
                srcset="
                /assets/pages/kyc-verification/legal/cdd-mob@1x.webp 1x,
                /assets/pages/kyc-verification/legal/cdd-mob@2x.webp 2x,
                /assets/pages/kyc-verification/legal/cdd-mob@2x.png 2x
              "
                alt="Customer Due Diligence (CDD)"
                width="255"
                height="120"
              />
            </div>
            <div class="legal__description">
              <h3 class="legal__subtitle title__h3--xs">Customer Due Diligence (CDD)</h3>
              <p class="legal__text">
                Conducting thorough due diligence on clients to understand their business, and the purpose of transactions.
              </p>
            </div>
          </li>
          <li class="legal__item splide__slide" data-section="section">
            <div class="legal__image-wrapper">
              <img
                class="legal__image"
                src="/assets/pages/kyc-verification/legal/edd-mob@1x.png"
                srcset="
                /assets/pages/kyc-verification/legal/edd-mob@1x.webp 1x,
                /assets/pages/kyc-verification/legal/edd-mob@2x.webp 2x,
                /assets/pages/kyc-verification/legal/edd-mob@2x.png 2x
              "
                alt="Enhanced Due Diligence (EDD)"
                width="255"
                height="120"
              />
            </div>
            <div class="legal__description">
              <h3 class="legal__subtitle title__h3--xs">Enhanced Due Diligence (EDD)</h3>
              <p class="legal__text">
                Applying enhanced scrutiny to high-risk clients or transactions may involve additional verification steps.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
