<section class="money" data-section="section">
  <div class="money__wrapper">
    <h2 class="money__title title__h2--ml">
      Fighting Money Laundering Crimes with KYCAID
    </h2>
    <p class="money__text">
      To present risk-free, reliable financial activity, law firms have to create an adequate AML program that involves risk-based approach. Such risk-management measures should follow the regulations of FATF on AML and EU that aim to prevent money laundering and terrorism financing, and other threats that influence the integrity of the whole financial system.
    </p>
  </div>
</section>