<section class="practices">
  <div class="practices__container container">
    <div class="practices__description">
      <h2 class="practices__title title--subtitle">
        Key Weaknesses in Law Firms' KYC & AML Practices
      </h2>
      <p class="practices__text">
        We offer a wide range of services, including global KYC solutions, intelligent document processing, AML verification, and more. Our main goal is to give businesses a simple and effective way to manage KYC processes.
      </p>
    </div>
    <div class="practices__table">
      <ul class="practices__list">
        <li class="practices__card card" data-section="section">
          <h3 class="card__title title__h3--ml">Insufficient Due Diligence</h3>
          <p class="card__text">
            Some law firms may conduct inadequate due diligence during client onboarding, allowing fraudsters to exploit gaps in identity verification and background checks.
          </p>
        </li>
        <li class="practices__card card" data-section="section">
          <h3 class="card__title title__h3--ml">Inadequate Staff Training</h3>
          <p class="card__text">
            Lack of comprehensive training on AML and KYC procedures for legal professionals can lead to oversight and misinterpretation of regulatory requirements, creating vulnerabilities for fraudsters to exploit.
          </p>
        </li>
        <li class="practices__card card monitoring" data-section="section">
          <h3 class="card__title title__h3--ml">Ineffective Monitoring Systems</h3>
          <p class="card__text">
            Law firms may lack robust systems for continuous monitoring of client transactions and activities. This can fail to detect suspicious patterns or changes in client behavior, allowing fraudulent activities to go unnoticed.
          </p>
          <picture>
            <source
              media="(min-width: 1440px)"
              width="455"
              height="143"
              srcset="
              /assets/pages/kyc-verification/practices/diagrama-lt@1x.webp 1x,
              /assets/pages/kyc-verification/practices/diagrama-lt@2x.webp 2x,
              /assets/pages/kyc-verification/practices/diagrama-lt@1x.png 1x,
              /assets/pages/kyc-verification/practices/diagrama-lt@2x.png  2x
              "
            />
            <img
              class="card__image"
              src="/assets/pages/kyc-verification/practices/diagrama-mob@1x.png"
              srcset="
                /assets/pages/kyc-verification/practices/diagrama-mob@1x.webp 1x,
                /assets/pages/kyc-verification/practices/diagrama-mob@2x.webp 2x,
                /assets/pages/kyc-verification/practices/diagrama-mob@2x.png  2x
              "
              alt="diagrama"
              width="295"
              height="241"
            />
          </picture>
        </li>
      </ul>
      <div class="practices__build build" data-section="section">
        <div class="build__description">
          <h2 class="build__title title__h3--m">Build trust, stay legally compliant with KYCAID</h2>
          <p class="build__text">
            Discover how our AML and KYC compliance solutions can safeguard your law firm. From verifying client identities to ensuring regulatory adherence, streamline your procedures with us. 
          </p>
        </div>
        <a class="build__link link-btn-primary" href="#">
          <span class="link-title">Try it now</span>
          <svg class="link-icon icon-arrow-east" width="18" height="18">
            <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
