<div class="modal is-hidden" data-modal-contacts>
  <button type="button" class="modal__close" data-modal-close>
    <svg class="modal__close-icon icon-close" width="24" height="24">
      <use href="/assets/svg/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <h2 class="modal__title title--subtitle">
    Let’s get in touch!
  </h2>
  <form class="modal__form">
    <!-- NAME -->
    <div class="modal__field">
      <label for="user-name" class="modal__input-title">
        First Name
      </label>
      <input type="text" name="user-name" class="modal__input" id="user-name" />
    </div>

    <!-- Company Name -->
    <div class="modal__field">
      <label for="company-name" class="modal__input-title">
        Company Name
      </label>
      <input
        type="text"
        name="company-name"
        class="modal__input"
        id="company-name"
      />
    </div>

    <!-- EMAIL -->
    <div class="modal__field">
      <label for="user-email" class="modal__input-title">
        Corporate Email address
      </label>
      <input
        type="email"
        name="user-email"
        class="modal__input"
        id="user-email"
      />
    </div>

    <!-- PHONE -->
    <div class="modal__field">
      <label for="user-phone" class="modal__input-title">
        Phone number
      </label>
      <input
        type="tel"
        name="user-phone"
        class="modal__input"
        id="user-phone"
      />
    </div>

    <!-- CHECKBOX -->
    <div class="modal__field modal__check-wrap">
      <input
        type="checkbox"
        name="policy"
        id="policy"
        class="modal__check"
        value="true"
        checked="true"
      />
      <label for="policy" class="modal__check-text">
        I hereby accept all terms and conditions
      </label>
    </div>

    <!-- BUTTON -->
    <button type="submit" class="modal__btn link-btn-primary" data-modal-submit>
      Sent a message
    </button>
  </form>
</div>
