

<!-- Min cookie modal -->
<div class="cookie--min flex--col is-hidden">
  <h2 class="title--subtitle">The website uses cookies</h2>
  <p class="text color--black">
    This website uses cookies to improve user experience. By using our website
    you consent to all cookies in accordance with our Cookie Policy.
    <button><span class="text color--accent">Read more</span></button>
  </p>
  <div class="cookie__control flex">
    <button class="button">Accept all cookies</button>
    <button class="button">Decline all</button>
  </div>
</div>

<!-- Cookie control modal  -->

<div class="cookie--control is-hidden">
  <div class="container">
    <div class="flex--col">
      <h2 class="title--subtitle">Privacy Preference Center</h2>
      <p class="text">
        We use cookies to improve the functionality of our site, while
        personalizing content and ads. You can enable or disable optional
        cookies as desired. For more detailed information about the cookies we
        use, see our <a href="#">Cookie Policy</a>
      </p>
    </div>
    <h2 class="title--subtitle">Menage cookies</h2>
    <ul class="cookie__list flex--col">
      <li class="item flex">
        <div class="flex--col">
          <h3 class="title--subtitle color--accent">
            Necessary cookies (Always enabled)
          </h3>
          <p class="text">
            Required cookies are key to the operation of our site. They enable
            you to navigate our website and use its features. They cannot be
            turned off. Without these cookies, the website cannot function
            properly. Please be aware that these don’t collect information that
            can identify you.
          </p>
        </div>
        <div class="switch flex">
          <input type="checkbox" />
        </div>
      </li>
      <li class="item flex">
        <div>
          <h3 class="title--subtitle color--accent">Analytics cookies</h3>
          <p class="text">
            These cookies help to improve our website by collecting information
            about your interactions with it. They show us which pages are most
            frequently visited and help us to record the difficulties that you
            may have while using our website.
          </p>
        </div>
        <div class="switch flex">
          <input type="checkbox" />
        </div>
      </li>
      <li class="item flex">
        <div>
          <h3 class="title--subtitle color--accent">
            Performance/functionality cookies
          </h3>
          <p class="text">
            These cookies are used to enhance the performance and functionality
            of our website but are non-essential. However, without these
            cookies, certain functionalities like videos may become unavailable,
            or you would be required to enter your login details every time you
            visit our website as we would not be able to remember that you had
            logged in previously.
          </p>
        </div>
        <div class="switch flex">
          <input type="checkbox" />
        </div>
      </li>
    </ul>
  </div>
  <div class="cookie__control flex">
    <button class="button">Accept all cookies</button>
    <button class="button">Browse with selected cookies</button>
  </div>
</div>
