@use "normalize.css";
@use "src/scss/reset";
@use "src/scss/vars";
@use "src/scss/global";
@use "src/scss/header";
@use "src/scss/ocr/hero";
@use "src/scss/ocr/howOCRworks";
@use "src/scss/ocr/software-solutions";
@use "src/scss/ocr/products_features";
@use "src/scss/ocr/features";
@use "src/scss/ocr/use_cases";
@use "src/scss/ocr/faq";
@use "src/scss/ocr/api";
@use "src/scss/footer";

[data-section="section"] {
  // background-color: #f6f6f8;
}
main {
  background-color: #f6f6f8;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: clamp(24px, 5vw, 72px);
  padding-bottom: clamp(24px, 5vw, 72px);
  &__card {
    padding: 24px;
  }
}
