<section data-section="section" class="partners section">
  <div class="partners__container container">
    <h2 class="partners__title">
      We are trusted by <span class="partners__span-color">100+ </span>companies
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            class="partners__img"
            src="/assets/partners/pin-up.png"
            srcset="
              /assets/partners/pin-up@2x.webp 2x,
              /assets/partners/pin-up@2x.png  2x
            "
            alt="pin-up"
            width="90"
            height="38"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            class="partners__img"
            src="/assets/partners/legal-nodes.png"
            srcset="
              /assets/partners/legal-nodes@2x.webp 2x,
              /assets/partners/legal-nodes@2x.png  2x
            "
            alt="legal-nodes"
            width="90"
            height="49"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            class="partners__img"
            src="/assets/partners/kuna.png"
            srcset="
              /assets/partners/kuna@2x.webp 2x,
              /assets/partners/kuna@2x.png  2x
            "
            alt="Kuna"
            width="100"
            height="32"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            class="partners__img"
            src="/assets/partners/gr8@1x.png"
            srcset="
              /assets/partners/gr8@2x.webp 2x,
              /assets/partners/gr8@2x.png  2x
            "
            alt="GR8"
            width="80"
            height="24"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            class="partners__img"
            src="/assets/partners/slots-city.png"
            srcset="
              /assets/partners/slots-city@2x.webp 2x,
              /assets/partners/slots-city@2x.png  2x
            "
            alt="Slots-city"
            width="100"
            height="65"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            class="partners__img"
            src="/assets/partners/favbet.png"
            srcset="
              /assets/partners/favbet@2x.webp 2x,
              /assets/partners/favbet@2x.png  2x
            "
            alt="Favbet"
            width="100"
            height="39"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            class="partners__img"
            src="/assets/partners/yes-play.png"
            srcset="
              /assets/partners/yes-play@2x.webp 2x,
              /assets/partners/yes-play@2x.png  2x
            "
            alt="Yes-play"
            width="100"
            height="39"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            class="partners__img"
            src="/assets/partners/technamin.png"
            srcset="
              /assets/partners/technamin@2x.webp 2x,
              /assets/partners/technamin@2x.png  2x
            "
            alt="Technamin"
            width="100"
            height="23"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            class="partners__img"
            src="/assets/partners/funding-pips.png"
            srcset="
              /assets/partners/funding-pips@2x.webp 2x,
              /assets/partners/funding-pips@2x.png  2x
            "
            alt="funding-pips"
            width="100"
            height="27"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            class="partners__img"
            src="/assets/partners/djooky.png"
            srcset="
              /assets/partners/djooky@2x.webp 2x,
              /assets/partners/djooky@2x.png  2x
            "
            alt="Djooky company logo"
            width="100"
            height="56"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
