@use "normalize.css";
@use "src/scss/reset";
@use "src/scss/vars";
@use "src/scss/global";
@use "src/scss/header";
@use "src/scss/id_verification/hero";
@use "src/scss/id_verification/partners";
@use "src/scss/id_verification/software-solutions";
@use "src/scss/id_verification/products_features";
@use "src/scss/id_verification/use_cases";
@use "src/scss/id_verification/support";
@use "src/scss/footer";

main {
  background-color: #f6f6f8;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: clamp(24px, 5vw, 72px);
  padding-bottom: clamp(24px, 5vw, 72px);
  &__card {
    padding: 24px;
  }
}
