@use "../vars";

.checks {

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__diagrama {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  picture {
    flex-shrink: 0;
  }

  &__image {
    max-width: 343px;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .checks {
    &__container {
      flex-direction: row;
      align-items: center;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .checks {

    &__container {
      gap: 72px;
    }

    &__image {
      max-width: 520px;
      max-height: 520px;
    }
    
    &__description {
      gap: 32px;
      
      & p:last-child {
        margin-top: -10px;
      }
    }
          
  }
}