@use "../vars";

@media screen and (max-width: 1023px) {
  @import "@splidejs/splide/css/core";
}

.legal {

  &__container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  &__title {
    padding-left: 16px;
  }
  
  &__content {
    padding-left: 16px !important;
  }

  &__item {
    padding: 24px;
    max-width: 302.7px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    border-radius: 24px;
    background: #f6f6f6;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__subtitle {
    font-weight: 700;
  }

  &__text {
    font-size: 14px;
  }
}

.splide {
  margin-top: 32px;
  &__pagination {
    margin-top: 32px;
    gap: 8px;
  }

  &__pagination__page {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #E5E6E6;

    &.is-active {
      background-color: vars.$cta-color;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .legal {  
    &__title {
      padding-left: 0;
      text-align: center;
    }
    &__content {
      padding-left: 0 !important;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: center;
    }
    &__item {
      padding: 32px;
      max-width: 100%;
      flex-basis: calc((100% - 16px) / 3);
    }

    &__image-wrapper {
      padding: 0 46px 0 46px;
    }
    &__text {
      font-size: 16px;
    }
  }
}