@use "../vars";

.money {
  padding-top: 86px;
  padding-bottom: 86px;
  background: #111;
  overflow: hidden;
  &__wrapper {
    position: relative;
    padding-right: 24px;
    padding-left: 24px;
    &::after {
      content: url("/assets/pages/kyc-verification/money/ellipse.svg");
      position: absolute;
      top: -170px;
      right: -170px;
    }
  }
  &__title {
    position: relative;
    z-index: 2;
    color: white;
  }
  &__text {
    position: relative;
    z-index: 2;
    margin-top: 32px;
    font-family: "Anek Bangla";
    font-size: clamp(28px, 2.3vw ,32px);
    line-height: 1.2;
    color: #fdfdfd;
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .money {  
    &__title {
      max-width: 1000px;
      margin: 0 auto;
    }
    &__text {
      max-width: 1000px;
      margin: 0 auto;
      margin-top: 32px;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .money {
    padding-top: 200px;
    padding-bottom: 200px;
    &__wrapper {
      max-width: 1440px;
      margin: 0 auto;

      &::after {
        top: -240px;
        left: -62px;
      }
    }
    &__text {
      line-height: 1.3;
    }
  }
}