<footer id="_section" class="footer">
  <div class="section main-links">
    <section class="container flex">
      <ul class="footer__list flex--col">
        <li class="products__container products">
          <h3 class="footer__title">Products</h3>
          <ul class="footer__list-sublist flex--col">
            <li class="footer__item color--primary">
              <a href="#">ID verification software</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#"
                >Video verification software<span class="new">NEW</span></a
              >
            </li>
            <li class="footer__item color--primary">
              <a href="#">Liveness check & Face recognition</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">KYB Business verification</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Age verification software</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Database screening solution</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Payment fraud prevention</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Source of funds check</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Proof of address check</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Identity verification solution</a>
            </li>
          </ul>
        </li>
        <li class="products__container">
          <h3 class="footer__title">Solutions</h3>
          <ul class="footer__list-sublist flex--col">
            <li class="footer__item color--primary">
              <a href="#">Gambling/iGaming</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Legal</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">ICO</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Marketplaces</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Adult</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Healthcare<span class="new">NEW</span></a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Crypto & Asset Exchange</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Fintech</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">NFT</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#">Retail & eCommerce</a>
            </li>
          </ul>
        </li>
        <li class="products__container resources">
          <h3 class="footer__title">Resources</h3>
          <ul class="footer__list-sublist flex--col">
            <li class="footer__item color--primary">
              <a href="#" class="color--primary">About us</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#" class="color--primary">Blog</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#" class="color--primary">API Documentation</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#" class="color--primary">Careers</a>
            </li>
            <li class="footer__item color--primary">
              <a href="#" class="color--primary">Global Coverage</a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
  <div class="section">
    <section class="container flex--col">
      <a href="/" class="footer__logo" aria-label="home page">
        <svg
          class="nav__logo-img"
          width="32"
          height="25"
          viewBox="0 0 32 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4.77488 14.5434C1.60263 11.3372 1.60263 6.13898 4.77488 2.93281L7.12466 0.55792C7.79756 -0.122171 8.88855 -0.122171 9.56146 0.55792C10.2344 1.23802 10.2344 2.34068 9.56146 3.02077L7.21169 5.39566C5.38522 7.24166 5.38522 10.2345 7.21169 12.0805C9.03813 13.9265 11.9994 13.9265 13.8259 12.0805L16.1321 9.74966C19.3044 6.54346 24.4476 6.54346 27.6198 9.74966C30.7921 12.9558 30.7921 18.154 27.6198 21.3602L25.2266 23.779C24.5537 24.4592 23.4627 24.4592 22.7898 23.779C22.1169 23.099 22.1169 21.9964 22.7898 21.3162L25.183 18.8974C27.0095 17.0514 27.0095 14.0585 25.183 12.2125C23.3566 10.3665 20.3953 10.3665 18.5689 12.2125L16.2627 14.5434C13.0903 17.7496 7.94714 17.7496 4.77488 14.5434ZM31.5803 6.26763C30.9596 6.9967 29.8717 7.07917 29.1504 6.45183C26.0512 3.75657 17.6845 1.86082 11.4944 10.0178C10.9152 10.781 9.83354 10.9251 9.07844 10.3399C8.32334 9.75448 8.18071 8.66132 8.75987 7.89804C16.3202 -2.06441 27.0128 -0.00200724 31.398 3.81168C32.1194 4.43901 32.201 5.53858 31.5803 6.26763ZM2.93974 17.7091C2.2184 17.0818 1.13046 17.1642 0.509771 17.8933C-0.110923 18.6224 -0.029328 19.7219 0.692011 20.3493C5.07727 24.1629 15.7698 26.2254 23.3302 16.2629C23.9094 15.4996 23.7668 14.4065 23.0117 13.8212C22.2565 13.2358 21.1749 13.38 20.5958 14.1431C14.4055 22.3002 6.03895 20.4044 2.93974 17.7091Z"
            fill="url(#paint0_linear_10477_2235)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_10477_2235"
              x1="32.5"
              y1="-0.500001"
              x2="0.999997"
              y2="23"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#3E82E7" />
              <stop offset="1" stop-color="#42B4EB" />
            </linearGradient>
          </defs>
        </svg>
        <svg class="nav__logo-text icon-kycaid" width="66" height="21">
          <use href="/assets/svg/sprite.svg#icon-kycaid"></use>
        </svg>
      </a>
      <div class="footer__list flex--col">
        <div class="footer__list-kycaid flex--col">
          <p class="text">
            KYCAID Has Been Certified With ISO 27001 Under Certificate Number ISO/IEC27001.3530 Dated 08.09.2023
            <br /><br />
            Data Protection Registration Number: ZA518341. KYCAID Uses 256-Bit
            SSL Encryption 100% Of The Time On Every Device. Database Is SSAE
            16, ISO 27001, And PCI DSS V3.0 Compliant And Supports HIPAA
            Compliance.
          </p>
          <div class="footer__partners flex">
            <img
              width="96"
              height="24"
              srcset="
                /assets/footer/proud_ukraine@2x.webp 2x,
                /assets/footer/proud_ukraine@2x.png  2x,
                /assets/footer/proud_ukraine.png     1x
              "
              alt="Proudly made in Ukraine"
            />
            <img
              width="24"
              height="24"
              srcset="
                /assets/footer/usf@2x.webp 2x,
                /assets/footer/usf@2x.png  2x,
                /assets/footer/usf.png     1x
              "
              alt="USF"
            />
            <img
              width="28"
              height="24"
              srcset="
                /assets/footer/google_for_startups@2x.webp 2x,
                /assets/footer/google_for_startups@2x.png  2x,
                /assets/footer/google_for_startups.png     1x
              "
              alt="Google for Startups"
            />
            <img
              width="40"
              height="24"
              srcset="
                /assets/footer/aws@2x.webp 2x,
                /assets/footer/aws@2x.png  2x,
                /assets/footer/aws.png     1x
              "
            />
            <img
              width="24"
              height="24"
              srcset="
                /assets/footer/goole_cloud@2x.webp 2x,
                /assets/footer/goole_cloud@2x.png  2x,
                /assets/footer/goole_cloud.png     1x
              "
              alt="Google Cloud"
            />

            <img
              width="30"
              height="24"
              srcset="
                /assets/footer/iso@2x.webp 2x,
                /assets/footer/iso@2x.png  2x,
                /assets/footer/iso.png     1x
              "
              alt="ISO"
            />

            <img
              width="56"
              height="24"
              srcset="
                /assets/footer/GDPR@2x.webp 2x,
                /assets/footer/GDPR@2x.png  2x,
                /assets/footer/GDPR.png     1x
              "
              alt="GDPR"
            />

            <img
              width="71"
              height="24"
              srcset="
                /assets/footer/cloudflare@2x.webp 2x,
                /assets/footer/cloudflare@2x.png  2x,
                /assets/footer/cloudflare.png     1x
              "
              alt="Cloudflare"
            />
            <img
              width="24"
              height="24"
              srcset="
                /assets/footer/pci@2x.webp 2x,
                /assets/footer/pci@2x.png  2x,
                /assets/footer/pci.png     1x
              "
              alt="PCI"
            />
          </div>
        </div>
        <div class="footer__list contacts flex">
          <div class="footer__list">
            <h3 class="footer__title">If you need some help</h3>
            <ul class="footer__list-help flex--col">
              <li class="color--primary"><a href="#">Business Inquiries</a></li>
              <li class="color--primary"><a href="#">Support Inquiries</a></li>
              <li class="color--primary"><a href="#">Telegram Support</a></li>
            </ul>
          </div>
          <div>
            <h3 class="footer__title">Follow us</h3>
            <ul class="footer__list--foolow flex">
              <li>
                <a href="#" target="_blank">
                  <svg class="footer__icon">
                    <use
                      xlink:href="/assets/svg/sprite.svg#icon-LinkedIn"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <svg class="footer__icon">
                    <use xlink:href="/assets/svg/sprite.svg#icon-Medium"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <svg class="footer__icon">
                    <use
                      xlink:href="/assets/svg/sprite.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section">
    <section class="container footer__list flex copyright">
      <div>
        <p class="color--unusual footer__title--xs">© Kycaid limited 2023</p>
      </div>
      <div>
        <ul class="footer__list--policy flex--col">
          <li class="color--unusual"><a href="#">Privacy Policy</a></li>
          <li class="color--unusual"><a href="#">Terms and Conditions</a></li>
          <li class="color--unusual"><a href="#">Data Protection Policy</a></li>
          <li class="color--unusual"><a href="#">API Documentation</a></li>
          <li class="color--unusual">
            <a href="#">Modern Slavery Statement</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</footer>
