<header class="header">
  <div class="container">
    <nav class="nav nav__container">
      <!-- Logo -->
      <a href="/" class="nav__logo" aria-label="home page">
        <svg
          class="nav__logo-img"
          width="32"
          height="25"
          viewBox="0 0 32 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4.77488 14.5434C1.60263 11.3372 1.60263 6.13898 4.77488 2.93281L7.12466 0.55792C7.79756 -0.122171 8.88855 -0.122171 9.56146 0.55792C10.2344 1.23802 10.2344 2.34068 9.56146 3.02077L7.21169 5.39566C5.38522 7.24166 5.38522 10.2345 7.21169 12.0805C9.03813 13.9265 11.9994 13.9265 13.8259 12.0805L16.1321 9.74966C19.3044 6.54346 24.4476 6.54346 27.6198 9.74966C30.7921 12.9558 30.7921 18.154 27.6198 21.3602L25.2266 23.779C24.5537 24.4592 23.4627 24.4592 22.7898 23.779C22.1169 23.099 22.1169 21.9964 22.7898 21.3162L25.183 18.8974C27.0095 17.0514 27.0095 14.0585 25.183 12.2125C23.3566 10.3665 20.3953 10.3665 18.5689 12.2125L16.2627 14.5434C13.0903 17.7496 7.94714 17.7496 4.77488 14.5434ZM31.5803 6.26763C30.9596 6.9967 29.8717 7.07917 29.1504 6.45183C26.0512 3.75657 17.6845 1.86082 11.4944 10.0178C10.9152 10.781 9.83354 10.9251 9.07844 10.3399C8.32334 9.75448 8.18071 8.66132 8.75987 7.89804C16.3202 -2.06441 27.0128 -0.00200724 31.398 3.81168C32.1194 4.43901 32.201 5.53858 31.5803 6.26763ZM2.93974 17.7091C2.2184 17.0818 1.13046 17.1642 0.509771 17.8933C-0.110923 18.6224 -0.029328 19.7219 0.692011 20.3493C5.07727 24.1629 15.7698 26.2254 23.3302 16.2629C23.9094 15.4996 23.7668 14.4065 23.0117 13.8212C22.2565 13.2358 21.1749 13.38 20.5958 14.1431C14.4055 22.3002 6.03895 20.4044 2.93974 17.7091Z"
            fill="url(#paint0_linear_10477_2235)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_10477_2235"
              x1="32.5"
              y1="-0.500001"
              x2="0.999997"
              y2="23"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#3E82E7" />
              <stop offset="1" stop-color="#42B4EB" />
            </linearGradient>
          </defs>
        </svg>
        <svg class="nav__logo-text icon-kycaid" width="66" height="21">
          <use href="/assets/svg/sprite.svg#icon-kycaid"></use>
        </svg>
      </a>

      <!-- Menu -->
      <div class="nav__menu" data-nav-menu>
        <ul class="nav__list" data-nav-list>
          <!-- Dropdown 1 -->
          <li class="nav__item">
            <button type="button" class="nav__button" data-dropdown-btn>
              <span class="nav__button-text">Products</span>
              <svg
                class="nav__button-arrow icon-arrow-down"
                width="24"
                height="24"
              >
                <use href="/assets/svg/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
            <div class="nav__sub-menu dropdown">
              <div class="dropdown__content products-menu">
                <div class="dropdown__baner products-menu__baner">
                  <img
                    class="dropdown__image"
                    src="/assets/header/Menu/baner-header@1x.png"
                    srcset="
                      /assets/header/Menu/baner-header@1x.webp 1x,
                      /assets/header/Menu/baner-header@2x.webp 2x,
                      /assets/header/Menu/baner-header@2x.png  2x
                    "
                    alt="baner"
                    width="178"
                    height="77"
                  />
                  <div class="dropdown__description">
                    <h3 class="dropdown__description-title">Book a demo</h3>
                    <p class="dropdown__description-text">
                      Secure your business with services powered by KYCAID!
                    </p>
                  </div>
                </div>
                <div class="dropdown__link-wrapper products-menu__link-wrapper">
                  <ul class="dropdown__group">
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="/pages/id_verifications/">
                        <svg
                          class="dropdown__icon icon-verification-software"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-verification-software"
                          ></use>
                        </svg>
                        <span class="dropdown__title"
                          >ID verification software</span
                        >
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-videocam"
                          width="26"
                          height="26"
                        >
                          <use href="/assets/svg/sprite.svg#icon-video"></use>
                        </svg>
                        <span class="dropdown__title"
                          >Video verification software</span
                        >
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="/pages/livenesscheck/">
                        <svg
                          class="dropdown__icon icon-liveness"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-liveness"
                          ></use>
                        </svg>
                        <span class="dropdown__title"
                          >Liveness &amp; Face recognition</span
                        >
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="/pages/kyb/">
                        <svg
                          class="dropdown__icon icon-kyb"
                          width="26"
                          height="26"
                        >
                          <use href="/assets/svg/sprite.svg#icon-kyb"></use>
                        </svg>
                        <span class="dropdown__title"
                          >KYB Business verification</span
                        >
                      </a>
                    </li>
                  </ul>
                  <ul class="dropdown__group">
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-age"
                          width="26"
                          height="26"
                        >
                          <use href="/assets/svg/sprite.svg#icon-age"></use>
                        </svg>
                        <span class="dropdown__title"
                          >Age verification software</span
                        >
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="/pages/ocr/">
                        <svg
                          class="dropdown__icon icon-database"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-database"
                          ></use>
                        </svg>
                        <span class="dropdown__title"
                          >Database screening solution</span
                        >
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-payment-fraud-prevention"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-payment-fraud-prevention"
                          ></use>
                        </svg>
                        <span class="dropdown__title"
                          >Payment fraud prevention</span
                        >
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-funds-check"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-funds-check"
                          ></use>
                        </svg>
                        <span class="dropdown__title"
                          >Source of funds check</span
                        >
                      </a>
                    </li>
                  </ul>
                  <ul class="dropdown__group">
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-address"
                          width="26"
                          height="26"
                        >
                          <use href="/assets/svg/sprite.svg#icon-address"></use>
                        </svg>
                        <span class="dropdown__title"
                          >Proof of address check</span
                        >
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Dropdown 2 -->
          <li class="nav__item">
            <button type="button" class="nav__button" data-dropdown-btn>
              <span class="nav__button-text">Solutions</span>
              <svg
                class="nav__button-arrow icon-arrow-down"
                width="24"
                height="24"
              >
                <use href="/assets/svg/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
            <div class="nav__sub-menu dropdown">
              <div class="dropdown__content solutions-menu">
                <div class="dropdown__baner solutions-menu__baner">
                  <img
                    class="dropdown__image"
                    src="/assets/header/Menu/baner-header@1x.png"
                    srcset="
                      /assets/header/Menu/baner-header@1x.webp 1x,
                      /assets/header/Menu/baner-header@2x.webp 2x,
                      /assets/header/Menu/baner-header@2x.png  2x
                    "
                    alt="baner"
                    width="178"
                    height="77"
                  />
                  <div class="dropdown__description">
                    <h3 class="dropdown__description-title">Book a demo</h3>
                    <p class="dropdown__description-text">
                      Secure your business with services powered by KYCAID!
                    </p>
                  </div>
                </div>
                <div
                  class="dropdown__link-wrapper solutions-menu__link-wrapper"
                >
                  <ul class="dropdown__group">
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-igaming"
                          width="26"
                          height="26"
                        >
                          <use href="/assets/svg/sprite.svg#icon-igaming"></use>
                        </svg>
                        <span class="dropdown__title">Gambling/iGaming</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-insurance"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-insurance"
                          ></use>
                        </svg>
                        <span class="dropdown__title">Insurance</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-ico"
                          width="26"
                          height="26"
                        >
                          <use href="/assets/svg/sprite.svg#icon-ico"></use>
                        </svg>
                        <span class="dropdown__title">ICO</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-marketplace"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-marketplace"
                          ></use>
                        </svg>
                        <span class="dropdown__title">Marketplaces</span>
                      </a>
                    </li>
                  </ul>
                  <ul class="dropdown__group">
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-adult"
                          width="26"
                          height="26"
                        >
                          <use href="/assets/svg/sprite.svg#icon-adult"></use>
                        </svg>
                        <span class="dropdown__title">Adult</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-healthcare"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-healthcare"
                          ></use>
                        </svg>
                        <span class="dropdown__title">Healthcare</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-crypto-exchange"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-crypto-exchange"
                          ></use>
                        </svg>
                        <span class="dropdown__title"
                          >Crypto & Asset Exchange</span
                        >
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-fintech"
                          width="26"
                          height="26"
                        >
                          <use href="/assets/svg/sprite.svg#icon-fintech"></use>
                        </svg>
                        <span class="dropdown__title">Fintech</span>
                      </a>
                    </li>
                  </ul>
                  <ul class="dropdown__group">
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-nft"
                          width="26"
                          height="26"
                        >
                          <use href="/assets/svg/sprite.svg#icon-nft"></use>
                        </svg>
                        <span class="dropdown__title">NFT</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-real-estate"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-real-estate"
                          ></use>
                        </svg>
                        <span class="dropdown__title">Real Estate</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-ecommerce"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-ecommerce"
                          ></use>
                        </svg>
                        <span class="dropdown__title">Retail & eCommerce</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-mutual-funds"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-mutual-funds"
                          ></use>
                        </svg>
                        <span class="dropdown__title">Mutual Funds</span>
                      </a>
                    </li>
                  </ul>
                  <ul class="dropdown__group">
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-legal"
                          width="26"
                          height="26"
                        >
                          <use href="/assets/svg/sprite.svg#icon-legal"></use>
                        </svg>
                        <span class="dropdown__title">Legal</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-drug-store"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-drug-store"
                          ></use>
                        </svg>
                        <span class="dropdown__title"
                          >Cannabis & Drug Store</span
                        >
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-id-verification"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-id-verification"
                          ></use>
                        </svg>
                        <span class="dropdown__title"
                          >Identity verification</span
                        >
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Dropdown 3 -->
          <li class="nav__item">
            <button type="button" class="nav__button" data-dropdown-btn>
              <span class="nav__button-text">Resources</span>
              <svg
                class="nav__button-arrow icon-arrow-down"
                width="24"
                height="24"
              >
                <use href="/assets/svg/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
            <div class="nav__sub-menu dropdown dropdown__resources-menu">
              <div class="dropdown__content resources-menu">
                <div
                  class="dropdown__link-wrapper resources-menu__link-wrapper"
                >
                  <ul class="dropdown__group">
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-about-us"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-about-us"
                          ></use>
                        </svg>
                        <span class="dropdown__title">About us</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-book-demo"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-book-demo"
                          ></use>
                        </svg>
                        <span class="dropdown__title">Book a demo</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-blog"
                          width="26"
                          height="26"
                        >
                          <use href="/assets/svg/sprite.svg#icon-blog"></use>
                        </svg>
                        <span class="dropdown__title">Blog</span>
                      </a>
                    </li>
                  </ul>
                  <ul class="dropdown__group">
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-api-documentation"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-api-documentation"
                          ></use>
                        </svg>
                        <span class="dropdown__title">API Documentation</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-global-coverage"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-global-coverage"
                          ></use>
                        </svg>
                        <span class="dropdown__title">Global Coverage</span>
                      </a>
                    </li>
                    <li class="dropdown__group-item">
                      <a class="dropdown__link" href="#">
                        <svg
                          class="dropdown__icon icon-contact-us"
                          width="26"
                          height="26"
                        >
                          <use
                            href="/assets/svg/sprite.svg#icon-contact-us"
                          ></use>
                        </svg>
                        <span class="dropdown__title">Contact us</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown__blog">
                  <div class="dropdown__blog-baner resources-menu__baner">
                    <img
                      class="dropdown__blog-image"
                      src="/assets/header/Menu/resources-img@1x.png"
                      srcset="
                        /assets/header/Menu/resources-img@1x.webp 1x,
                        /assets/header/Menu/resources-img@2x.webp 2x,
                        /assets/header/Menu/resources-img@2x.png  2x
                      "
                      alt="blog"
                      width="176"
                      height="100"
                    />
                    <div class="dropdown__blog-description">
                      <h3 class="dropdown__blog-description-title">
                        Stay Ahead of the Game: How to Ensure KYC and AML
                        Compliance in the DeFi Era
                      </h3>
                      <p class="dropdown__blog-description-text">
                        A brief overview of Know-Your-Customer and
                        Anti-Money-Laundering Compliance in the DeFi Era.
                        Learn...
                      </p>
                    </div>
                  </div>
                  <a class="dropdown__blog-link" href="#">
                    <span class="dropdown__title-resources">
                      All blog articles
                    </span>
                    <svg
                      class="dropdown__icon-resources icon-arrow_forward"
                      width="20"
                      height="20"
                    >
                      <use
                        href="/assets/svg/sprite.svg#icon-arrow_forward"
                      ></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>

          <!-- Navigation Pracing -->
          <li class="nav__item pricing__item">
            <a href="#" class="nav__button link pricing"> Pricing </a>
          </li>
        </ul>

        <!-- Auth-mobile -->
        <ul class="nav__auth-mobile auth-mobile">
          <li class="auth-mobile__item">
            <a class="auth-mobile__link link-btn-secondary" href="#">Log in</a>
          </li>
          <li class="auth-mobile__item">
            <a class="auth-mobile__link link-btn-primary" href="#"
              >Start for free</a
            >
          </li>
        </ul>
      </div>

      <!-- Auth-desc -->
      <ul class="nav__auth auth">
        <li class="auth__item auth__none">
          <a class="auth__link link-btn-auth--secondary" href="#">Log in</a>
        </li>
        <li class="auth__item">
          <a class="auth__link link-btn-auth--primary" href="#"
            >Start for free</a
          >
        </li>
      </ul>

      <!-- Burger-menu -->
      <button type="button" class="nav__toogle" data-nav-toogle>
        <svg class="nav__toogle-menu icon-menu" width="18" height="12">
          <use href="/assets/svg/sprite.svg#icon-menu"></use>
        </svg>
        <svg class="nav__toogle-close icon-close" width="24" height="24">
          <use href="/assets/svg/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
