@use "../../scss/vars";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  min-width: calc(100% - 32px);

  background-color: white;
  border-radius: 8px;

  transform: translate(-50%, -50%) scale(1);

  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  &__field {
    position: relative;
  }

  &__input-title {
    position: absolute;
    top: -10px;
    left: 16px;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 1.3;
    background-color: white;
  }

  &__input {
    padding: 16px;
    width: 100%;

    font-size: 16px;
    line-height: 1.3;
    color: #111;

    background-color: white;
    border-radius: 12px;
    border: 1px solid #e5e6e6;

    transition-property: border-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;

    &:is(:hover, :focus, :active) {
      border-color: vars.$cta-color;
    }
  }
  &__check-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__check {
    width: 20px;
    height: 20px;
    
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid vars.$text-color;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;

    &:checked {
      background-image: url("/assets/svg/modal-checked.svg");
      background-repeat: no-repeat;
      background-position: center;
      border: none;
    }
  }

  &__check-text {
    font-size: 16px;
    line-height: 1.3;
  }

  &__btn {
    align-self: flex-start;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-100%, -50%) scaleX(0);
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 680px;
  }
}
