.modal-success {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: calc(100% - 32px);
  margin: 0 auto;
  padding: 32px 29px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: white;
  border-radius: 8px;

  transform: translate(-50%, -50%) scale(1);

  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;

  &__icon {
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 4px;
    font-family: "Anek Bangla";
    color: #252534;
    font-size: 22px;
    line-height: 1.3;
  }

  &__text {
    font-size: 16px;
    line-height: 1.3;
  }
}

.is-hidden-success {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .modal-success {
    min-width: 387px;
  }
}