<section class="hero">
  <div class="hero__container container">
    <div class="hero__description">
      <div class="hero__description-header">
        <h2 class="hero__subtitle" id="hero-subtitle">
          all-in-one compliance platform
        </h2>
        <h1 class="hero__title title" id="hero-title">
          Industry Leading<br />KYC Verification Solution
        </h1>
      </div>
      <p class="hero__text" id="hero-text">
        Unlock seamless onboarding with KYCAID Verification Software! Streamline
        customer verification processes, enhance security, and elevate user
        experience effortlessly. Try now and revolutionize your business!
      </p>
      <ul class="hero__list">
        <li class="hero__item">
          <a class="hero__link link-btn-primary" href="#">
            <span class="link-title"> Book a demo </span>
            <svg class="link-icon icon-arrow-east" width="18" height="18">
              <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
            </svg>
          </a>
        </li>
        <li class="hero__item">
          <a class="hero__link link-btn-secondary" href="#section1">
            <span class="link-title"> Services </span>
            <svg class="link-icon icon-apps" width="18" height="18">
              <use href="/assets/svg/sprite.svg#icon-apps"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="hero__dashboard-container">
      <div class="hero__dashboard dashboard">
        <div class="horizontal-animation"></div>
        <div class="horizontal-animation horizontal-animation--slow"></div>
        <div class="horizontal-animation horizontal-animation--fast"></div>
        <div class="vertical-animation"></div>
        <div class="vertical-animation vertical-animation--slow"></div>
        <div class="vertical-animation vertical-animation--fast"></div>
        <div class="dashboard__menu-left skeleton-menu-left">
          <img
            class="dashboard__menu-img"
            src="/assets/hero/menu-left@1x.png"
            srcset="
              /assets/hero/menu-left@1x.webp 1x,
              /assets/hero/menu-left@2x.webp 2x,
              /assets/hero/menu-left@2x.png 2x
            "
            alt="menu dashboard left"
            width="168"
            height="582"
          />
        </div>
        <div class="dashboard__main">
          <div class="dashboard__header skeleton-header">
            <img
              class="dashboard__menu-img"
              src="/assets/hero/dashboard-header@1x.png"
              srcset="
                /assets/hero/dashboard-header@1x.webp 1x,
                /assets/hero/dashboard-header@2x.webp 2x,
                /assets/hero/dashboard-header@2x.png  2x
              "
              alt="dashboard header"
              width="857"
              height="34.2"
            />
          </div>
          <div class="dashboard__upgrade skeleton-upgrade">
            <img
              class="dashboard__menu-img"
              src="/assets/hero/upgrade@1x.png"
              srcset="
                /assets/hero/upgrade@1x.webp 1x,
                /assets/hero/upgrade@2x.webp 2x,
                /assets/hero/upgrade@2x.png  2x
              "
              alt="dashboard header upgrade"
              width="857"
              height="33.1"
            />
          </div>
          <div class="dashboard__content skeleton-content">
            <img
              class="dashboard__main-img"
              src="/assets/hero/main@1x.png"
              srcset="
                /assets/hero/main@1x.webp 1x,
                /assets/hero/main@2x.webp 2x,
                /assets/hero/main@2x.png  2x
              "
              alt="dashboard main content"
              width="824"
              height="1481"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
