<section  data-section="section" class="solutions">
  <div class="solutions__container container">
    <div class="solutions__wrapper ">
      <h2 class="solutions__title title--subtitle">
        Effortless KYC compliance<br />with advanced software solutions
      </h2>
      <ul class="solutions__list ">
        <li class="solutions__item advantages">
          <h3 class="advantages__title">
            Quality<span class="advantages__emoji">😎</span>
          </h3>
          <p class="advantages__text">
            Our in-house compliance system and expert legal professionals ensure
            exceptional outcomes.
          </p>
        </li>
        <li class="solutions__item advantages">
          <h3 class="advantages__title">
            Security<span class="advantages__emoji">👮</span>
          </h3>
          <p class="advantages__text">
            We uphold the highest industry security standards, validated by ISO
            certification and routine security audits.
          </p>
        </li>
        <li class="solutions__item advantages">
          <h3 class="advantages__title">
            Velocity<span class="advantages__emoji">🚀</span>
          </h3>
          <p class="advantages__text">
            Immediate document and selfie verification with the industry's best
            SLA for manual checks.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
