<section id="section1" class="verification section splide container flex--col">
  <div class="verification__mainTitle">
    <h2 class="title--subtitle">Agile KYC Verification Services</h2>
    <p class="text">
      We leverage blockchain-inspired technology to decentralize personal data
      storage and craft a customized, decentralized KYC solution tailored to
      meet the unique needs of your business
    </p>
  </div>

  <div class="verification__container splide__track">
    <ul id="test" class="verification__list splide__list">
      <li id="face" class="item splide__slide flex--col">
        <img
        width="320"
        height="230"
          class="image"
          srcset="
            /assets/05_face_verification/mob/face@2x.webp 2x,
            /assets/05_face_verification/mob/face@2x.png  2x,
            /assets/05_face_verification/mob/face.webp    1x,
            /assets/05_face_verification/mob/face.png     1x
          "
          alt="Face Verification"
        />
        <a class="item__text" href="#face">
          <h2 class="title--subtitle">Face verification</h2>
          <p class="text">
            Elevate security with KYCAID's Face Verification service. Detect
            fakes, authenticate identities, and ensure genuine interactions,
            bolstering trust and compliance effortlessly
          </p>
        </a>
      </li>
      <li id="know_your_business" class="item splide__slide flex--col">
        <img
        width="320"
        height="230"
          class="image"
          srcset="
            /assets/05_face_verification/mob/know_your_business@2x.webp 2x,
            /assets/05_face_verification/mob/know_your_business@2x.png  2x,
            /assets/05_face_verification/mob/know_your_business.webp    1x,
            /assets/05_face_verification/mob/know_your_business.png     1x
          "
          alt="Know your business"
        />
        <a class="item__text" href="#know_your_business">
          <h2 class="title--subtitle">Know your business</h2>
          <p class="text">
            Enhance business security with KYCAID's Know Your Business
            verification. Validate entities swiftly and ensure credibility in
            your business engagements.
          </p>
        </a>
      </li>
      <li id="section1" class="item splide__slide flex--col">
        <img
        width="320"
        height="230"
          class="image"
          srcset="
            /assets/05_face_verification/mob/sanctions_screening@2x.webp 2x,
            /assets/05_face_verification/mob/sanctions_screening@2x.png  2x,
            /assets/05_face_verification/mob/sanctions_screening.webp    1x,
            /assets/05_face_verification/mob/sanctions_screening.png     1x
          "
          alt="Sanctions screening"
        />
        <div class="item__text">
          <h2 class="title--subtitle">Sanctions screen</h2>
          <p class="text">
            Mitigate risks with KYCAID's Sanction and PEP Screening. Ensure
            compliance and uphold integrity in your business with our
            comprehensive solution.
          </p>
        </div>
      </li>
      <li id="section1" class="item splide__slide flex--col">
        <img
        width="320"
        height="230"
          class="image"
          srcset="
            /assets/05_face_verification/mob/identity_verification@2x.webp 2x,
            /assets/05_face_verification/mob/identity_verification@2x.png  2x,
            /assets/05_face_verification/mob/identity_verification.webp    1x,
            /assets/05_face_verification/mob/identity_verification.png     1x
          "
          alt="Identity verification"
        />
        <div class="item__text">
          <h2 class="title--subtitle">Identity verification</h2>
          <p class="text">
            Trust KYCAID for top-tier Identity Verification Services. Streamline
            authentication, ensure compliance, and foster secure interactions in
            your business landscape.
          </p>
        </div>
      </li>
    </ul>
    <ul id="test2" class="verification__list--dt">
      <li id="test3" class="item">
        <img
        width="450"
        height="450"
          class="image"
          srcset="
            /assets/05_face_verification/face@2x.webp 2x,
            /assets/05_face_verification/face@2x.png  2x,
            /assets/05_face_verification/face.webp    1x,
            /assets/05_face_verification/face.png     1x
          "
          alt="Face Verification"
        />
      </li>
      <li class="item">
        <img
        width="450"
        height="450"
          class="image"
          srcset="
            /assets/05_face_verification/know_your_business@2x.webp 2x,
            /assets/05_face_verification/know_your_business@2x.png  2x,
            /assets/05_face_verification/know_your_business.webp    1x,
            /assets/05_face_verification/know_your_business.png     1x
          "
          alt="Know your business"
        />
      </li>
      <li class="item">
        <img
        width="450"
        height="450"
          class="image"
          srcset="
            /assets/05_face_verification/sanctions_screening@2x.webp 2x,
            /assets/05_face_verification/sanctions_screening@2x.png  2x,
            /assets/05_face_verification/sanctions_screening.webp    1x,
            /assets/05_face_verification/sanctions_screening.png     1x
          "
          alt="Sanctions screening"
        />
      </li>
      <li class="item">
        <img
        width="450"
        height="450"
          class="image"
          srcset="
            /assets/05_face_verification/identity_verification@2x.webp 2x,
            /assets/05_face_verification/identity_verification@2x.png  2x,
            /assets/05_face_verification/identity_verification.webp    1x,
            /assets/05_face_verification/identity_verification.png     1x
          "
          alt="Identity verification"
        />
      </li>
    </ul>
    <!-- </div> -->
  </div>
</section>
