<section  data-section="section" class="checks">
  <div class="checks__container container">
    <div class="checks__wrapper">
      <h2 class="checks__title title--subtitle">
        <span class="checks__emoji">📋</span>Fair KYC Checks
      </h2>
      <div class="checks__wrapper-text">
        <p class="checks__text">
          Our online platform helps with customer identity verification without
          the need for in-person visits. With real-time access and full
          automation, businesses can streamline processes and reduce risks while
          minimizing manual data handling. Affordable KYC checks utilize
          multiple global and local databases, significantly shortening the
          processing time. Any potential risk associated with a particular
          individual detection triggers prompt user notification, ensuring a
          proactive approach.
        </p>
        <p class="checks__text">
          Compliance with KYC/AML regulations is crucial in reducing the
          company's risk exposure. This legal obligation serves as a shield for
          your business against potential fraud.
        </p>
      </div>
      <div class="checks__advantages">
        <h3 class="checks__subtitle">
          KYCAID solution stands out for speed and accuracy in the verification
          of an individual's identity, reliability and criminal history.
        </h3>
        <button type="button" class="checks__link link-btn-primary" data-modal-contact-open>
          <span class="checks__link-title"> Try our solutions </span>
          <svg class="checks__link-icon link-icon icon-arrow-east" width="18" height="18">
            <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
