<section  data-section="section" class="check-free">
  <div class="check-free__container container">
    <div class="check-free__wrapper">
      <h2 class="check-free__title title">Try KYC check for free</h2>
      <a href="#" class="check-free__link link-btn-primary">
        <span class="link-title"> Start KYC check right now </span>
        <svg class="link-icon icon-arrow-east" width="18" height="18">
          <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
