<section  data-section="section" class="chek-works section splide container flex--col">
  <div class="flex--col">
    <h2 class="title--subtitle">How KYC check works</h2>
    <p class="text">
      KYCAID helps businesses to meet compliance requirements such as KYC and
      AML, without the need for them to invest resources in developing their own
      KYC system or Data Storage infrastructure.
    </p>
    <br />
    <p class="text">Through our access policy, you
      can guarantee the privacy and security of your users while streamlining
      the sign-up process across both Web2 and Web3 platforms.</p>
      <br>
    <p class="text">
      <strong
        >Our mission is to boost businesses through seamless client identity
        verification and decentralize data storage, giving individuals better
        control over their personal data.</strong
      >
    </p>
  </div>
  <div class="chek-works__track splide__track">
    <ul class="chek-works__cards chek-works__list splide__list">
      <li class="item section chek-works__slide splide__slide flex--col">
        <svg class="icon" width="46" height="46">
          <use href="/assets/svg/sprite.svg#icon-document"></use>
        </svg>
        <div class="item__text">
          <h3 class="color--accent">Step 1.</h3>
          <p class="text">
            New applicants go through an easy KYC process and we conduct a
            comprehensive verification of the information they provide.
          </p>
        </div>
      </li>
      <li class="item section chek-works__slide splide__slide flex--col">
        <svg class="icon" width="46" height="46">
          <use href="/assets/svg/sprite.svg#icon-AI"></use>
        </svg>
        <div class="item__text">
          <h3 class="color--accent">Step 2.</h3>
          <p class="text">
            Once the verification is submitted, the data is checked by AI and
            the confidentiality score is generated. Users with a low score are
            asked to perform additional checks with a live assistant.
          </p>
        </div>
      </li>
      <li class="item section chek-works__slide splide__slide flex--col">
        <svg class="icon" width="46" height="46">
          <use href="/assets/svg/sprite.svg#icon-key"></use>
        </svg>
        <div class="item__text">
          <h3 class="color--accent">Step 3.</h3>
          <p class="text">
            The Company, such as financial institutions, kindly asks the user to
            authorize access to their personal storage in order to securely
            retrieve information. Upon granting permission, the user will be
            promptly onboarded.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
