@use "../vars";

.partners {
  &.section {
    background-color: white;
    // padding-top: clamp(24px, 14vw, 112px);
    // padding-bottom: clamp(24px, 14vw, 112px);
    padding-top: clamp(24px, 1.6vw, 112px);
    padding-bottom: clamp(24px, 1.6vw, 112px);
    // padding-top: 24px;
    // padding-bottom: 24px;
  }
  // margin-top: 48px;
  &__container {
    // padding-top: 24px;
    // padding-bottom: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__title {
    font-family: "Anek Bangla";
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    color: #111;
  }

  &__span-color {
    font-weight: 700;
    color: vars.$cta-color;
  }

  &__list {
    overflow: hidden;
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    align-items: stretch;

    border: 1px solid #e5e6e6;
    border-radius: 24px;
  }

  &__item {
    padding: 22px 11.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &:nth-child(-n + 4) {
      border-bottom: 1px solid #e5e6e6;
    }
    &:nth-child(5) {
      border-bottom: 1px solid #e5e6e6;
    }
    &:nth-child(-n + 9) {
      border-right: 1px solid #e5e6e6;
    }
    &:nth-child(5) {
      border-right: none;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 83%;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .partners {
    &.section {
      padding-top: clamp(24px, 8vw, 112px);
      padding-bottom: clamp(24px, 8vw, 112px);
    }
    &__container {
      // padding-top: 68px;
      // padding-bottom: 68px;
    }

    &__title {
      font-size: 24px;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .partners {
    &__container {
      // padding-top: 90px;
      // padding-bottom: 90px;
      gap: 32px;
    }
    &__list {
      width: 800px;
    }
    &__item {
      padding: 17px 29.5px;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .partners {
    &.section {
      // padding-top: 112px;
      // padding-bottom: 112px;
      // margin-top: 0;
    }

    &__container {
      // padding-top: 112px;
      // padding-bottom: 112px;
      gap: 32px;
    }
  }
}
