@use "vars";

.footer {
  // background-color: #fdfdfd;
  a.footer__logo:hover {
    text-decoration: none;
  }
  .section {
    margin: 0;
    &:last-child {
      padding-bottom: 48px;
    }
  }
  font-family: "DM Sans";
  .container {
    margin-bottom: 0;
    width: 100%;
    a {
      font-size: 16px;
    }
  }
  .section {
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: start;
    border-top: 1px solid #e5e6e6;
    &.section:last-child {
      // padding-bottom: 48px;
    }
  }

  &__list {
    .contacts {
      .footer__title {
        font-size: 13px;
        margin-bottom: 8px;
      }
    }
    width: 100%;
    gap: 24px;
    justify-content: space-between;

    .products__container:nth-child(2) {
      .footer__list-sublist {
        height: 137px;
        align-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: vars.$screen-mob) {
          height: auto;
        }
      }
    }

    &-kycaid {
      font-size: 13px;
      gap: 24px;
      .text {
        font-size: 13px;
      }
    }

    &.flex--col {
      gap: 8px;
      gap: 24px;
    }

    &.flex {
      justify-content: space-between;
      gap: 48px;
    }
  }

  &__list-sublist {
    gap: 8px;
  }

  &__list-help {
    gap: 8px;
    .footer__title {
      font-size: 13px;
    }
  }

  li {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 16.9px */
  }

  &__title {
    font-size: 16px;
    font-weight: 400;

    margin-bottom: 8px;
    &--xs {
      font-size: 13px;
    }
  }

  &__logo {
    padding: 0;
    margin-bottom: 24px;
    display: block;
  }
  &__partners {
    &.flex {
      gap: 24px;
      flex-wrap: wrap;
    }
    img {
      height: max-content;
    }
  }
  &__list--foolow {
    &.flex {
      justify-content: space-between;
    }
  }
  &__icon {
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 6px;
    background: #f3f2f2;
    &:hover {
      fill: vars.$color--accent;
      background-color: #eef5ff;
    }
  }
  &__kycaid {
    max-height: 82px;
    flex-wrap: wrap;
    text-decoration: underline;
  }
  &__list--foolow {
    gap: 8px;
  }
  &__list--policy {
    height: 83px;
    flex-wrap: nowrap;
    gap: 16px;
    .color--unusual {
      a {
        font-size: 13px;
      }
    }
    @media screen and (min-width: 320px) {
      height: 83px;
      flex-wrap: wrap;
      gap: 16px;
    }
  }

  .new {
    padding: 4px 6px;
    border-radius: 8px;
    background: #d2fa57;
    width: 36px;
    height: 21px;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 13px */
    margin-left: 10px;
  }
  li.color--unusual {
    text-decoration: underline;
  }
  .copyright {
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (min-width: 700px) {
  .footer {
    .main-links {
      .footer__list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 129px;
        row-gap: 24px;
        justify-content: start;
      }
      .products {
        &__container {
          .footer__list-sublist {
            height: 137px;
          }
        }
        width: 100%;

        .footer__list-sublist {
          height: 137px;
          flex-wrap: wrap;
          align-content: flex-start;
          gap: 200px;
          row-gap: 8px;
        }
      }
      .solutions {
        .footer__list-sublist {
          height: 137px;
        }
      }
    }
  }
}

@media screen and (min-width: 1070px) {
  .footer {
    a {
      &:hover {
        color: vars.$color--accent;
        text-decoration: underline;
      }
    }
    .section {
      padding-top: 32px;
      padding-bottom: 32px;

      justify-content: center;
      &:last-child {
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
    .container {
      margin-bottom: 0;
    }
    &__list {
      width: auto;
      &.flex--col {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
      &.flex {
        justify-content: space-between;
      }
      .footer__item {
        font-size: 16px;
      }
      .products__container:nth-child(2) {
        .footer__list-sublist {
          height: 137px;
          align-content: space-between;
          flex-wrap: wrap;
        }
      }
    }
    &__list-sublist {
      height: 137px;
      column-gap: 32px;
      flex-wrap: wrap;
    }
    &__list-kycaid {
      gap: 24px;
      line-height: 130%;
      &.flex--col {
        max-width: 726px;

        flex-direction: column;
      }
    }

    li {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 16.9px */
    }

    &__title {
      font-weight: 400;
      margin-bottom: 16px;
      &--xs {
        font-size: 13px;
      }
    }

    &__partners {
      &.flex {
        gap: 24px;
        flex-wrap: wrap;
      }
    }
    &__list--foolow {
      gap: 8px;
      justify-content: space-between;
    }
    &__list--policy {
      height: auto;
      &.flex--col {
        flex-direction: row;
        gap: 32px;
      }
    }
    .copyright {
      flex-direction: row;
    }
  }
  .footer {
    .main-links {
      .footer__list {
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 0px;
        row-gap: 0;
        justify-content: space-between;
      }
      .products {
        width: auto;

        .footer__list-sublist {
          height: 137px;
          flex-wrap: wrap;

          column-gap: 32px;
        }
      }
    }
  }
}
